@import "assets/scss/mixin";
@import "assets/scss/variable";
@import "assets/scss/fonts";

@import "assets/scss/component/header";

@import "assets/scss/component/hero";
@import "assets/scss/component/about";
@import "assets/scss/component/video";
@import "assets/scss/component/dominators";
@import "assets/scss/component/marketplace";
@import "assets/scss/component/road-map";

@import "assets/scss/component/footer";

/*********************************
COMMON STYLE
*********************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

a,
:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.clearfix {
  &:before, &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

a, a:hover, a:focus,
input, input:hover, input:focus,
textarea, textarea:hover, textarea:focus,
button, button:hover, button:focus, select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


body {
  @include font_robotoMono_regular;
  font-weight: 400;
  font-size: 18px;
  color: $secondary-text-color;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 15px;
  width: 100%;

  @include min-medium {
    padding: 0 30px;
  }

  @include min-large {
    max-width: 1500px;
    margin: 0 auto;
  }
}
/*********************************
COMMON STYLE END
*********************************/

.main-wrap {
  background: url("./assets/images/site-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: -160px;
  padding-top: 160px;
}

.section-title {
  @include font_tektur_bold;
  @include fluid-type(320px, 1920px, 36px, 70px);
  text-transform: uppercase;
  color: $primary-text-color;
  position: relative;
  margin: 0;
  letter-spacing: 7px;
  line-height: 1;

  span {
    @include text-shadow(0 4px 60px rgba(#14AAFF, 0.5));
  }

}

.dominator-image-section {
  @include display-flex;
  @include align-items-center;

  img {
    width: 100%;
    max-width: 50%;
    max-height: 100%;
    height: auto;
    vertical-align: bottom;

    &:first-child {

    }
  }
}

.primary-button {
  color: $black-text-color;
  height: 58px;
  width: 277px;
  @include display-flex;
  @include align-items-center;
  @include justify-content-center;
  position: relative;

  @include min-medium {
    height: 79px;
    width: 380px;
  }

  span {
    z-index: 2;
    color: $black-text-color;
    font-size: 24px;
    @include font_tektur_bold;
    text-transform: uppercase;
    letter-spacing: 2.4px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("./assets/images/primary-btn-bg.png") no-repeat;
    background-size: cover;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 58px;
    width: 260px;
    @include transform(translate(-50%, -50%));
    @include box-shadow(0 4px 90px rgba(#FF56F6, 0.5));
    @include transition(box-shadow 0.15s);
    z-index: 1;

    @include min-medium {
      height: 79px;
      width: 352px;
    }
  }

  &:hover {
    &:after {
      @include box-shadow(0 0 0 rgba(#FF56F6, 0.5));
    }
  }

}

.secondary-button {
  color: $black-text-color;
  height: 65px;
  width: 272px;
  position: relative;
  @include display-inline-flex;

  span {
    z-index: 3;
    color: $black-text-color;
    font-size: 20px;
    @include font_tektur_bold;
    text-transform: uppercase;
    height: 64px;
    width: 272px;
    @include display-inline-flex;
    @include align-items-center;
    @include justify-content-center;
    letter-spacing: 2px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("./assets/images/secondary-btn-bg.png") no-repeat;
    background-size: cover;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 54px;
    width: 254px;
    @include transform(translate(-50%, -50%));
    @include box-shadow(0 4px 90px rgba(#91E1DC, 0.5));
    @include transition(box-shadow 0.15s);
    z-index: 1;
  }

  &:hover {
    &:after {
      @include box-shadow(0 0 0 rgba(#91E1DC, 0.5));
    }
  }
}

.buy-button {
  height: 50px;
  width: 100%;
  max-width: 287px;
  position: relative;
  @include display-inline-flex;
  @include justify-content-center;

  span {
    z-index: 3;
    color: $black-text-color;
    font-size: 18px;
    @include font_tektur_bold;
    @include display-flex;
    @include align-items-center;
    @include justify-content-center;
    text-transform: uppercase;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("./assets/images/buy-button-bg.png") no-repeat;
    background-size: cover;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 48px;
    width: 258px;
    @include transform(translate(-50%, -50%));
    box-shadow: 0 4px 50px rgba(#129BFF, 0.5);
    @include transition(box-shadow 0.15s);
    z-index: 1;
  }

  &:hover {
    &:after {
      box-shadow: 0 0 0 rgba(#91E1DC, 0.5);
    }
  }
}

