.road-map-section {
    .section-title {
        text-align: center;
        margin-bottom: 84px;

        @include min-medium {
            margin-bottom: 30px;
        }

        @include min-large {
            margin-bottom: 129px;
        }

        span {
            position: relative;

            &:before, &:after {
                content: '';
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:before {
                top: 18px;
                right: 93%;
                width: 185px;
                height: 19px;
                background-image: url("./assets/images/home-page/road-map-title-line-left.svg");

                @include min-medium {
                    top: 32px;
                    right: 93%;
                    width: 268px;
                    height: 24px;
                }

                @include min-extra-large {
                    top: 44px;
                    width: 361px;
                    height: 33px;
                }
            }

            &:after {
                top: 4px;
                left: 66%;
                width: 170px;
                height: 19px;
                background-image: url("./assets/images/home-page/road-map-title-line-right.svg");

                @include min-medium {
                    top: 14px;
                    left: 90%;
                    width: 236px;
                    height: 20px;
                }

                @include min-extra-large {
                    top: 21px;
                    width: 386px;
                    height: 26px;
                }
            }
        }
    }

    .road-map-card {
        width: 100%;
        padding: 42px 32px 33px 25px;
        position: relative;
        @include border-radius(4px);
        opacity: 0;
        visibility: hidden;

        @include min-medium {
            max-width: 315px;
            padding: 40px 32px 40px 30px;
        }

        @include min-extra-large {
            max-width: 830px;
            padding: 123px 40px 70px 61px;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 2px;
            right: 2px;
            height: 87%;
            @include box-shadow(0 4px 30px rgba($primary-bg-color, 0.7));
            @include transition(box-shadow 0.15s);
            z-index: -2;
        }

        .title {
            @include font_tektur_semiBold;
            font-size: 24px;
            text-transform: uppercase;
            color: $primary-text-color;
            letter-spacing: 1.6px;
            margin-bottom: 10px;

            @include min-large {
                font-size: 32px;
                letter-spacing: 2px;
                margin-bottom: 12px;
            }

            @include min-extra-large {
                font-size: 40px;
                letter-spacing: 4px;
                margin-bottom: 30px;
            }
        }

        .text {
            font-size: 14px;
            line-height: 1.7;
            margin-bottom: 44px;

            @include min-extra-large {
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 44px;
            }

            p {
                margin: 0;

                &:not(:last-child) {
                    margin: 0 0 24px;
                }
            }
        }
    }

    .road-map-card-bg {
        @include full-absolute;
        clip-path: polygon(0 0, 35% 0, 46% 11%, 100% 11%, 100% 100%, 0 100%);
        background: rgb(17, 155, 255);
        border: 2px solid transparent;
        background: linear-gradient(to right, rgba(17, 155, 255, 0.15) 0%, rgba(17, 155, 255, 0.15) 46%, rgba(17, 155, 255, 0.3) 100%);
        z-index: -1;
        @include border-radius(4px);

        @include min-large {
            clip-path: polygon(0 0, 36% 0, 48% 13%, 100% 13%, 100% 100%, 0 100%);
        }

        &:before {
            content: '';
            @include full-absolute;
            clip-path: polygon(0 0, 35% 0, 46% 11%, 100% 11%, 100% 100%, 0 100%);
            background: url("./assets/images/about-page/road-map-item-bg-about.jpg") no-repeat;
            @include border-radius(4px);
            background-size: cover;
            background-position: center;

            @include min-large {
                clip-path: polygon(0 0, 36% 0, 48% 13%, 100% 13%, 100% 100%, 0 100%);
            }
        }
    }

    .swiper-slide-active {
        .road-map-card {
            opacity: 1;
            visibility: visible;
        }
    }

    .top-road-map-slider {
        padding: 20px 0;
        overflow: visible;
        margin-bottom: 72px;
    }

    .bottom-road-map-slider {
        padding: 0 0 40px 40px;
        margin-left: -40px;
    }

    .swiper-slide {
        &:nth-child(odd) {
            .number-bg {
                &:before {
                    background: linear-gradient(to bottom, rgba(8, 22, 41, 1) 0%, rgba(17, 155, 255, 1) 100%);
                }
            }

            .title {
                top: -50px;
            }
        }

        &:nth-child(even) {
            .number-bg {
                &:before {
                    background: linear-gradient(to top, rgba(8, 22, 41, 1) 0%, rgba(17, 155, 255, 1) 100%);
                }
            }


            .title {
                bottom: -50px;
            }
        }
    }

    .swiper-slide-thumb-active {
        .number-wrap {
            @include transform(scale(1.55));

            .number {
                font-size: 22px;

                @include min-large {
                    font-size: 22px;
                }
            }

            .title {
                display: none;
                opacity: 0;
            }

            &:before {
                opacity: 1;
            }

            .number-bg {
                background: linear-gradient(135deg, rgba(23,158,255,1) 0%,rgba(80,181,255,1) 100%);

                &:before {
                    background: linear-gradient(to bottom, rgba(85,184,255,1) 0%,rgba(17,155,255,1) 100%);
                }
            }
        }
    }

    .number-wrap {
        width: 56px;
        height: 65px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        @include display-flex;
        @include justify-content-center;
        @include align-items-center;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 52%;
            height: 71%;
            @include transform(translate(-50%, -50%));
            @include box-shadow(0 4px 44px $primary-bg-color);
            opacity: 0;
        }

        .number {
            @include font_tektur_medium;
            font-size: 16px;
            color: #030A1A;
            text-transform: uppercase;
            letter-spacing: 1px;
            z-index: 3;

            @include min-large {
                font-size: 26px;
            }
        }

        .title {
            position: absolute;
            left: 50%;
            @include font_tektur_semiBold;
            font-size: 12px;
            color: $primary-text-color;
            text-align: center;
            text-transform: uppercase;
            @include text-shadow(0 4px 20px rgba($primary-text-color, 0.5));
            @include transform(translateX(-50%));

            @include min-large {
                font-size: 20px;
                min-width: 350px;
                text-align: center;
                letter-spacing: 2px;
            }
        }
    }

    .number-bg {
        @include full-absolute;
        @include border-radius(4px);
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        border: 2px solid transparent;
        background: linear-gradient(135deg, rgba(17,155,255,0.75) 0%,rgba(17,155,255,0.15) 100%);
        //@include filter(blur(40px));

        &:before {
            content: '';
            @include full-absolute;
            //background: linear-gradient(to bottom, rgba(8,22,41,1) 0%,rgba(17,155,255,1) 100%);
            @include border-radius(4px);
            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
            //@include filter(blur(40px));
        }
    }

    .button-wrap {
        position: relative;
        display: inline-block;

        &:before {
            content: '';
            position: absolute;
            left: -31px;
            top: 112%;
            width: 194px;
            height: 32px;
            background: url("./assets/images/home-page/marketplace-btn-line-mob.svg") no-repeat;
            background-size: cover;
            background-position: right center;

            @include min-medium {
                left: 105%;
                top: 17px;
                width: 222px;
                height: 33px;
                background: url("./assets/images/home-page/marketplace-btn-line.svg") no-repeat;
                background-size: cover;
                @include transform(scale(-1, 1));
            }
        }

        .secondary-button {
            width: 267px;

            @include min-large {
                width: 394px;
            }
        }
    }
}