.video-container {
    position: relative;
    z-index: 3;

    .video-element-first {
        position: absolute;
        bottom: -50px;
        right: -2px;
        max-width: 108px;
        max-height: 108px;
        width: 100%;
        z-index: 4;
        pointer-events: none;

        @include min-large {
            bottom: -53px;
            right: -11px;
            max-width: 153px;
            max-height: 158px;
        }

        @include min-extra-large {
            bottom: -70px;
            right: -24px;
            max-width: 201px;
            max-height: 208px;
        }

        img {
            width: 100%;
            vertical-align: bottom;
        }
    }

    .video-element-second {
        position: absolute;
        bottom: -86px;
        left: -32px;
        max-width: 180px;
        max-height: 138px;
        width: 100%;
        z-index: -1;

        @include min-large {
            bottom: -142px;
            left: -60px;
            max-width: 296px;
            max-height: 225px;
        }

        @include min-extra-large {
            bottom: -52px;
            left: -45px;
            max-width: 201px;
            max-height: 208px;
        }

        img {
            width: 100%;
            vertical-align: bottom;
        }
    }

    .video-wrap {
        position: relative;
        @include display-flex;
        @include align-items-center;
        @include justify-content-center;
        clip-path: polygon(0% 7%, 9% 0%, 23% 0%, 31% 4%, 76% 4%, 81% 2%, 93% 2%, 100% 8%, 100% 100%, 100% 100%, 59% 100%, 53% 97%, 37% 97%, 31% 100%, 8% 100%, 0% 94%);
        border: 2px solid transparent;
        background: rgb(17,155,255);
        background: radial-gradient(circle, rgba(17,155,255, 0.8) 0%, rgba(0,117,255, 0.4) 100%);
        @include aspect-ratio(321, 414);

        @include min-small {
            @include aspect-ratio(1440, 770);
            clip-path: polygon(0% 10%, 6% 0%, 24% 0%, 27% 5%, 82% 5%, 86% 0%, 95% 0%, 100% 10%, 100% 92%, 96% 100%, 88% 100%, 82% 94%, 48% 94%, 46% 90%, 39% 90%, 37% 94%, 26% 94%, 23% 100%, 7% 100%, 0% 94%);
        }

        .video-image {
            width: 100%;
            clip-path: polygon(0% 7%, 9% 0%, 23% 0%, 31% 4%, 76% 4%, 81% 2%, 93% 2%, 100% 8%, 100% 100%, 100% 100%, 59% 100%, 53% 97%, 37% 97%, 31% 100%, 8% 100%, 0% 94%);

            @include full-absolute;
            @include display-flex;
            @include justify-content-center;

            overflow: hidden;

            @include min-small {
                clip-path: polygon(0% 10%, 6% 0%, 24% 0%, 27% 5%, 82% 5%, 86% 0%, 95% 0%, 100% 10%, 100% 92%, 96% 100%, 88% 100%, 82% 94%, 48% 94%, 46% 90%, 39% 90%, 37% 94%, 26% 94%, 23% 100%, 7% 100%, 0% 94%);
            }

            img {
                max-height: 100%;
                width: auto;
                height: auto;
                vertical-align: bottom;
                object-fit: cover;
                object-position: center bottom;
            }
        }

        .video-play {
            @include full-absolute;
            @include display-flex;
            @include align-items-center;
            @include justify-content-center;
            z-index: 5;
            cursor: pointer;

            img {
                @include max-medium {
                    max-width: 122px;
                    max-height: 122px;
                }
            }
        }
    }
}