* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    overflow-x: hidden;
    overflow-y: auto;

    &.modal-opened {
        overflow: hidden;
    }
}

a,
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.clearfix {
    &:before, &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    color: $primary-text-color;
}

a, a:hover, a:focus,
input, input:hover, input:focus,
textarea, textarea:hover, textarea:focus,
button, button:hover, button:focus, select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: $primary-text-color;
    @include font_tektur_bold;
    letter-spacing: 3px;
}

ul {
    @include list;
    list-style-type: disc;
    margin-left: 18px;
}

button {
    @include reset-button;
}

body {
    @include font_robotoMono_regular;
    font-size: 14px;
    line-height: 1.6;
    color: $secondary-text-color;
    margin: 0;
    padding: 0;

    background: $black-bg-color url("assets/images/general/site-bg-new.png");
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;

    overflow-x: hidden;
    overflow-y: auto;

    @include min-large {
        font-size: 16px;
        line-height: 1.8;
    }

    @include min-extra-large {
        font-size: 18px;
        line-height: 2;
    }

    &.menu-opened, &.modal-opened {
        overflow: hidden;
    }
}

.container {
    padding: 0 20px;
    width: 100%;

    @include min-medium {
        padding: 0 30px;
    }

    @include min-large {
        margin: 0 auto;
        max-width: 1140px;
    }

    @include min-extra-large {
        max-width: 1500px;
    }
}

.viewport {
    //overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .scroll-container {
        position: absolute;
        overflow: hidden;
        z-index: 10;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        width: 100%;
        @include display-flex;
        @include flex-direction-column;
    }
}


.section-title {
    @include font_tektur_bold;
    font-size: 32px;
    text-transform: uppercase;
    color: $primary-text-color;
    position: relative;
    margin: 0;
    letter-spacing: 3px;
    line-height: 1;

    @include min-large {
        font-size: 53px;
        letter-spacing: 5px;
    }

    @include min-extra-large {
        letter-spacing: 7px;
        font-size: 70px;
    }

    @include max-medium {
        text-align: center;
    }

    span {
        text-shadow: 0 4px 60px rgba($shadow-text-color, 0.5);
        @include appearance(none);
        outline: none;
    }
}

.element-show {
    .section-title {
        &:before, &:after {
            @include animation(2s decorative-line 1s linear forwards);
        }

        span {
            @include animation(3s linear 0.5s 1 normal forwards running text-flicker);
        }
    }
}

.dominator-image-section {
    @include display-flex;
    @include align-items-center;

    img {
        width: 100%;
        max-width: 50%;
        max-height: 100%;
        height: auto;
        vertical-align: bottom;
    }
}

.primary-button {
    color: $black-text-color;
    height: 52px;
    width: 277px;
    @include display-flex;
    @include align-items-center;
    @include justify-content-center;
    position: relative;
    @include border-radius(2px);
    padding: 2px;
    z-index: 5;

    @include min-large {
        height: 60px;
        width: 288px;
    }

    @include min-extra-large {
        height: 79px;
        width: 380px;
    }

    .btn-bg {
        z-index: 2;
        color: $black-text-color;
        font-size: 16px;
        @include font_tektur_bold;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        width: 100%;
        height: 100%;
        @include display-flex;
        @include align-items-center;
        @include justify-content-center;
        @include border-radius(2px);
        position: relative;
        clip-path: polygon(5% 0, 100% 0, 100% 80%, 96% 100%, 0 100%, 0 22%);
        background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);

        @include min-large {
            font-size: 19px;
            letter-spacing: 1.4px;
        }

        @include min-extra-large {
            font-size: 24px;
            letter-spacing: 2.4px;
            clip-path: polygon(6% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 22%);
        }

        span {
            z-index: 3;
        }
    }

    &:before {
        content: '';
        @include full-absolute;
        clip-path: polygon(5% 0, 100% 0, 100% 80%, 96% 100%, 0 100%, 0 22%);
        background: linear-gradient(270deg, rgba(255,166,250,1) 0%,rgba(255,166,250,1) 50%,rgba(60,121,212,1) 100%);
        @include transition(background 0.15s);
        //@include border-radius(2px);

        @include min-extra-large {
            clip-path: polygon(6% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 22%);
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 80%;
        width: 90%;
        @include transform(translate(-50%, -50%));
        @include box-shadow(0 4px 90px rgba(#FF56F6, 0.5));
        @include transition(box-shadow 0.15s);
        z-index: 1;
    }

    &:hover {
        .btn-bg {
            background: linear-gradient(270deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
        }

        &:after {
            @include box-shadow(0 0 0 rgba(#FF56F6, 0.5));
        }
    }
}

.secondary-button {
    color: $black-text-color;
    height: 52px;
    width: 276px;
    position: relative;
    @include display-inline-flex;
    @include border-radius(2px);
    padding: 2px;

    @include min-small {

    }

    @include min-extra-large {
        height: 66px;
        width: 274px;
    }

    span {
        z-index: 3;
        color: $black-text-color;
        font-size: 16px;
        @include font_tektur_bold;
        text-transform: uppercase;
        width: 100%;
        @include display-inline-flex;
        @include align-items-center;
        @include justify-content-center;
        letter-spacing: 1px;
        clip-path: polygon(6% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 22%);
        background: linear-gradient(92.23deg, #8DCCE7 21.43%, #8BEAD1 50.63%, #E2DA88 100%, #E4DD8F 117.04%);
        @include transition(background 0.15s);

        @include min-extra-large {
            font-size: 20px;
            letter-spacing: 2px;
        }
    }

    &:before {
        content: '';
        @include full-absolute;
        clip-path: polygon(6% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 22%);
        background: linear-gradient(270deg, rgba(145,203,230,1) 0%,rgba(222,209,152,1) 100%);
        @include transition(background 0.15s);
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 80%;
        width: 93%;
        @include transform(translate(-50%, -50%));
        @include box-shadow(0 4px 90px rgba(#91E1DC, 0.5));
        @include transition(box-shadow 0.15s);
        z-index: 1;
    }

    &:hover {
        &:before {
            background: linear-gradient(135deg, rgba(145,203,230,1) 0%,rgba(222,209,152,1) 100%);
        }

        span {
            background: linear-gradient(278deg, #8DCCE7 21.43%, #8BEAD1 50.63%, #E2DA88 100%, #E4DD8F 117.04%);
        }

        &:after {
            @include box-shadow(0 0 0 rgba(#91E1DC, 0.5));
        }
    }
}

.buy-button {
    height: 44px;
    width: 100%;
    max-width: 287px;
    position: relative;
    @include display-inline-flex;
    @include justify-content-center;
    padding: 2px;

    @include min-extra-large {
        height: 50px;
    }

    span {
        z-index: 3;
        color: $black-text-color;
        font-size: 18px;
        @include font_tektur_bold;
        @include display-flex;
        @include align-items-center;
        @include justify-content-center;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 100%;
        clip-path: polygon(94% 0, 100% 26%, 100% 100%, 7% 100%, 0 78%, 0 0);
        background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%),
        linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);

        svg {
            width: 24px;
            height: auto;
            margin-left: 4px;
        }
    }

    &:before {
        content: '';
        @include full-absolute;
        clip-path: polygon(94% 0, 100% 26%, 100% 100%, 7% 100%, 0 78%, 0 0);
        background: linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
        @include transition(background 0.15s);
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 80%;
        width: 92%;
        @include transform(translate(-50%, -50%));
        @include box-shadow(0 4px 44px rgba(#FF56F6, 0.5));
        @include transition(box-shadow 0.15s);
        z-index: 1;
    }

    &:hover {
        span {
            background: linear-gradient(272.52deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%),
            linear-gradient(92.23deg, #FFA6FA 47.49%, #3C79D5 98.81%);
        }

        &:after {
            @include box-shadow(0 0 0 rgba(#FF56F6, 0.5));
        }
    }
}

.swiper-button-prev {
    left: 0;

    svg {
        path {
            fill: #061D2E;
        }
    }
}

.swiper-button-next {
    right: 0;
}

.swiper-navigation-wrap {
    pointer-events: none;
}

.button-send,
.swiper-button-next,
.swiper-button-prev {
    @include reset-button;
    cursor: pointer;

    width: 32px;
    height: 32px;
    @include display-flex;
    @include align-items-center;
    @include justify-content-center;
    position: relative;
    pointer-events: auto;

    @include min-large {
        width: 40px;
        height: 40px;
    }

    @include min-extra-large {
        width: 50px;
        height: 50px;
    }

    svg {
        z-index: 2;
        width: 9px;
        height: 13px;


        @include min-large {
            width: 12px;
            height: 20px;
        }

        @include min-extra-large {
            width: 15px;
            height: 22px;
        }
    }

    @include min-medium {
        &:hover {
            &:before {
                @include box-shadow(0 0 0 rgba(#14AAFF, 0));
            }
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 78%;
        height: 78%;
        @include transform(translate(-50%, -50%));
        @include box-shadow(0 4px 30px rgba(#14AAFF, 0.5));
        @include transition(box-shadow 0.2s);
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 32px;
        height: 32px;
        @include transform(translate(-50%, -50%));
        clip-path: polygon(28% 0, 100% 0, 100% 74%, 72% 100%, 0 100%, 0 26%);
        background: $primary-text-color;

        @include min-large {
            width: 40px;
            height: 40px;
        }

        @include min-extra-large {
            width: 50px;
            height: 50px;
        }
    }
}

.swiper-button-next,
.swiper-button-prev {
    &.swiper-button-disabled {
        opacity: 1;

        &:before {
            @include box-shadow(none);
        }

        &:after {
            background: #27405E;
        }
    }
}

.swiper-pagination {
    position: relative;
    bottom: initial;
    left: initial;
    right: initial;
    top: initial;
    width: auto;

    .swiper-pagination-bullet {
        background: #27405E;
        width: 24px;
        height: 2px;
        border-radius: 0;
        opacity: 1;
        margin: 0 5px;
        @include transition(width 0.2s);

        @include min-medium {
            &:hover {
                background: $primary-text-color;
                @include box-shadow(0 1px 10px rgba($primary-text-color, 0.7));
            }
        }
    }

    .swiper-pagination-bullet-active {
        background: $primary-text-color;
        width: 59px;
        height: 2px;
        border-radius: 0;
        @include box-shadow(0 1px 10px rgba($primary-text-color, 0.7));
    }
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: rgba($black-bg-color, 0.01);
}

::-webkit-scrollbar-thumb {
    background: $primary-text-color;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 0 0 rgba($primary-text-color, 0);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.field-wrap {
    flex-grow: 1;
    margin-right: 20px;
    height: 50px;
    padding: 1px;
    background: #27405E;
    clip-path: polygon(3% 0, 100% 0, 100% 75%, 97% 100%, 0 100%, 0 24%);

    input, textarea {
        width: 100%;
        height: 100%;
        background: #061D2E;
        border: none;
        font-size: 16px;
        padding: 10px 25px;
        color: #3A4D64;
        letter-spacing: -1px;
        clip-path: polygon(3% 0, 100% 0, 100% 75%, 97% 100%, 0 100%, 0 24%);
        @include font_robotoMono_regular;

        @include min-medium {
            letter-spacing: 0;
        }

        &:focus-visible {
            outline: none;
        }

        @include placeholder {
            color: #3A4D64;
            font-size: 16px;
        }
    }

    textarea {
        resize: none;
    }
}

.video-modal {
    .button {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }

    .video-wrap {
        width: 100%;
    }

    .video-image {
        @include aspect-ratio(375, 667);

        @include min-medium {
            @include aspect-ratio(1920, 945);
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            vertical-align: bottom;
            object-fit: cover;
            object-position: center bottom;
            @include transform(translate(-50%, -50%));
        }
    }
}

.contact-us-modal {
    .title {
        text-align: center;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .field-wrap {
        margin: 0 0 15px;

        &.textarea {
            @include flex(1, 0, 100%);
            height: 100px;
        }
    }

    .button-send {
        width: 100%;
        height: 50px;
        max-width: 270px;

        span {
            color: $black-text-color;
            text-transform: uppercase;
            z-index: 2;
            font-size: 18px;
            @include font_tektur_semiBold;
            margin-right: 10px;

            @include min-medium {
                font-size: 20px;
            }

            @include min-extra-large {
                font-size: 24px;
            }
        }

        &:after {
            width: 100%;
            height: 50px;
            clip-path: polygon(5% 0, 100% 0, 100% 74%, 95% 100%, 0 100%, 0 26%);
        }
    }

    .contact-us-form-wrap {
        width: 300px;

        @include min-medium {
            width: 700px;
            gap: 10px 20px;
            @include display-flex;
            @include flex-wrap-wrap;
        }
    }
}
/*********************************
COMMON STYLE END
*********************************/