.header-section {
    padding: 8px 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0,7,24,1) 0%,rgba(0,7,24,0.3) 100%);

    @include min-small {
        padding: 15px 0;
    }

    @include min-medium {
        padding: 25px 0;
    }

    @include min-extra-large {
        padding: 27px 0;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: -27px;
        left: 0;
        right: 0;
        height: 40px;
        background-image: url("./assets/images/general/header-bottom-line-mob.png");
        background-size: 100% auto;
        background-position: center top;
        background-repeat: no-repeat;

        @include min-small {
            top: 100%;
            bottom: initial;
            height: 60px;
        }

        @include min-medium {
            background-image: url("./assets/images/general/header-bottom-line.png");
        }
    }

    &.active {
        .nav-btn {
            &:before {
                opacity: 0;
            }
        }

        .menu {
            transform: translateX(0);
        }
    }

    .header-wrap {
        position: relative;

        @include display-flex;
        @include align-items-center;
        @include justify-content-space-between;

        @include min-large {
            padding: 10px 0 10px 95px;
        }

        @include min-extra-large {
            padding: 20px 0 20px 126px;
        }
    }

    .logo {
        margin-left: -10px;
        z-index: 3;

        @include min-medium {
            margin-left: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));

            @include min-large {
                top: 7px;
                @include transform(translate(-50%, 0));
            }

            @include min-extra-large {
                top: 16px;
                @include transform(translate(-50%, 0));
            }
        }

        a {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 60px;
            -webkit-appearance: none;
            outline: none;

            @include min-medium {
                width: 70px;
                height: 70px;
            }

            @include min-extra-large {
                width: 93px;
                height: 93px;
            }

            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                vertical-align: bottom;
            }

            &:before {
                content: '';
                position: absolute;
                top: 30px;
                left: 0;
                width: 54px;
                height: 54px;
                background: $primary-text-color;
                @include border-radius(50%);
                @include filter(blur(55px));
                @include transition(all 0.2s);
                -webkit-appearance: none;
                outline: none;
                opacity: 0;
                transform: translate3d(0, 0, 0);
                pointer-events: none;

                @include min-medium {
                    opacity: 1;
                }

                @include min-extra-large {
                    width: 80px;
                    height: 80px;
                }
            }

            @include min-medium {
                &:hover {
                    &:before {
                        width: 0;
                        height: 0;
                    }
                }
            }
        }
    }

    .menu-block {
        @include min-medium {
            display: none;
        }
    }

    .menu {
        .menu-block {
            display: block;

            @include min-medium {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            a {
                padding-bottom: 0;
            }
        }

        @include max-medium {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 100px 15px 15px;
            transform: translateX(100%);
            transition: transform 0.5s;
            z-index: 2;

            @include display-flex;
            @include flex-direction-column;
            @include align-items-center;
            @include justify-content-center;

            background-image: url("./assets/images/general/mobile-menu-bg.png");
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;

            text-align: center;

            li {
                margin-bottom: 45px;
            }

            .menu-block {
                margin-top: 22px;

                a {
                    width: 50px;
                    height: 50px;
                    margin: 0 15px;
                    padding-bottom: 0;
                }
            }
        }

        @include min-medium {
            width: 100%;
            @include display-flex;
            @include align-items-center;
            @include justify-content-space-between;

            padding-right: 110px;
        }

        @include min-large {
            padding-right: 149px;
        }

        @include min-extra-large {
            padding-right: 194px;
        }

        a {
            font-size: 18px;
            line-height: 1.46;
            color: $secondary-text-color;
            text-transform: uppercase;
            position: relative;
            margin-bottom: 16px;
            padding-bottom: 6px;
            @include transition(all 0.2s);

            @include min-medium {
                font-size: 14px;
                margin-bottom: 0;
            }

            @include min-extra-large {
                font-size: 18px;
                margin-bottom: 0;
            }

            @include max-medium {
                @include font_tektur_semiBold;
                font-size: 24px;
                color: $primary-text-color;
                letter-spacing: 2.5px;
                @include text-shadow(0 4px 60px rgba($shadow-text-color, 0.8));

                &:after {
                    display: none;
                }
            }

            &:hover {
                color: $primary-active-text-color;
                
                &:after {
                    width: 100%;
                }
            }

            &:after {
                position: absolute;
                top: 100%;
                left: 50%;
                width: 0;
                height: 2px;
                content: '';
                background: linear-gradient(to right, rgba(17,155,255,0) 0%,rgba(17,155,255,1) 50%,rgba(17,155,255,0) 100%);
                @include transition(all 0.2s);
                @include transform(translateX(-50%));
            }
        }
    }

    .menu-left {
        @include min-medium {
            @include display-flex;

            a {
                margin-right: 67px;
            }
        }

        @include min-extra-large {
            a {
                margin-right: 67px;
            }
        }
    }

    .menu-right {
        @include min-medium {
            @include display-flex;
            @include align-items-center;

            a {
                margin-left: 59px;
                margin-top: 6px;
            }

            .account {
                margin-top: 0;
            }

            .globe {
                margin-left: 14px;
                margin-top: 0;
            }
        }

        @include min-extra-large {
            a {
                margin-left: 80px;
            }

            .globe {
                a {
                    margin-left: 20px;
                }
            }
        }
    }

    .account, .globe {
        width: 40px;
        height: 40px;
        @include display-inline-flex;
        @include align-items-center;
        @include justify-content-center;
        padding: 0;
        position: relative;
        clip-path: polygon(25% 0%, 100% 0, 100% 76%, 75% 100%, 0 100%, 0 20%);
        background: linear-gradient(45deg, rgba(17,155,255,0.54) 0%,rgba(17,155,255,0) 100%);
        @include transition(all 0.2s);

        @include min-extra-large {
            width: 50px;
            height: 50px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            bottom: 2px;
            right: 2px;

            clip-path: polygon(25% 0%, 100% 0, 100% 76%, 75% 100%, 0 100%, 0 20%);
            background: #030919;
            @include transition(all 0.2s);
        }

        &:after {
            display: none;
        }

        svg {
            z-index: 3;

            @include min-medium {
                width: 19px;
                height: 19px;
            }

            @include min-extra-large {
                width: 26px;
                height: 26px;
            }
        }

        @include min-medium {
            &:hover {
                background: $primary-text-color;

                &:before {
                    background: $primary-text-color;
                }

                svg {
                    path {
                        fill: #030919;
                    }
                }
            }
        }
    }

    .nav-btn {
        @include reset-button;

        width: 31px;
        height: 31px;
        position: relative;
        z-index: 2;
        display: block;

        &:before {
            content: '';
            position: absolute;
            top: 30px;
            left: 0;
            width: 54px;
            height: 54px;
            background: $primary-text-color;
            @include border-radius(50%);
            filter: blur(55px);
            @include transition(all 0.2s);
        }

        @include min-medium {
            display: none;
        }

        &.active {
            .nav-bar {
                &:nth-of-type(1) {
                    @include transform(translate(-1px, -1px));
                }

                &:nth-of-type(2) {
                    @include transform(translate(9px, 9px));
                }

                &:nth-of-type(3) {
                    @include transform(translate(4px, 4px));
                }

                &:nth-of-type(4) {
                    @include transform(translate(27px, -1px));
                }

                &:nth-of-type(5) {
                    @include transform(translate(18px, 9px));
                }

                &:nth-of-type(6) {
                    @include transform(translate(4px, 22px));
                }

                &:nth-of-type(7) {
                    @include transform(translate(13px, 13px));
                }

                &:nth-of-type(8) {
                    @include transform(translate(22px, 4px));
                }

                &:nth-of-type(9) {
                    @include transform(translate(8px, 18px));
                }

                &:nth-of-type(10) {
                    @include transform(translate(-1px, 27px));
                }

                &:nth-of-type(11) {
                    @include transform(translate(22px, 22px));
                }

                &:nth-of-type(12) {
                    @include transform(translate(18px, 18px));
                }

                &:nth-of-type(13) {
                    @include transform(translate(27px, 27px));
                }
            }
        }

        .nav-bar {
            position: absolute;
            background-color: $primary-text-color;
            transition: all 0.3s ease-in-out;

            width: 5px;
            height: 5px;

            &:nth-of-type(1) {
                @include transform(translate(0, 0));
            }

            &:nth-of-type(2) {
                @include transform(translate(0, 0));
            }

            &:nth-of-type(3) {
                @include transform(translate(13px, 0));
            }

            &:nth-of-type(4) {
                @include transform(translate(26px, 0));
            }

            &:nth-of-type(5) {
                @include transform(translate(26px, 0));
            }

            &:nth-of-type(6) {
                @include transform(translate(0, 13px));
            }

            &:nth-of-type(7) {
                @include transform(translate(13px, 13px));
            }

            &:nth-of-type(8) {
                @include transform(translate(26px, 13px));
            }

            &:nth-of-type(9) {
                @include transform(translate(0, 26px));
            }

            &:nth-of-type(10) {
                @include transform(translate(0, 26px));
            }

            &:nth-of-type(11) {
                @include transform(translate(13px, 26px));
            }

            &:nth-of-type(12) {
                @include transform(translate(26px, 26px));
            }

            &:nth-of-type(13) {
                @include transform(translate(26px, 26px));
            }
        }
    }
}