.modal {
    display: none;

    .modal-bg {
        @include full-fixed;
        z-index: 90;
        background: $black-bg-color url("assets/images/general/site-bg-new.png");
        background-size: cover;
        background-position: center top;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .modal-window {
        @include full-fixed;
        z-index: 99;
    }

    .modal-content {
        @include display-flex;
        @include flex-direction-column;
        @include align-items-center;
        @include justify-content-center;
        height: 100%;
    }

    .modal-close {
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;
        width: 33px;
        height: 33px;
        z-index: 10;

        .modal-close-bar {
            position: absolute;
            background-color: $primary-text-color;
            transition: all 0.3s ease-in-out;

            width: 5px;
            height: 5px;

            &:nth-of-type(1) {
                @include transform(translate(-1px, -1px));
            }

            &:nth-of-type(2) {
                @include transform(translate(9px, 9px));
            }

            &:nth-of-type(3) {
                @include transform(translate(4px, 4px));
            }

            &:nth-of-type(4) {
                @include transform(translate(27px, -1px));
            }

            &:nth-of-type(5) {
                @include transform(translate(18px, 9px));
            }

            &:nth-of-type(6) {
                @include transform(translate(4px, 22px));
            }

            &:nth-of-type(7) {
                @include transform(translate(13px, 13px));
            }

            &:nth-of-type(8) {
                @include transform(translate(22px, 4px));
            }

            &:nth-of-type(9) {
                @include transform(translate(8px, 18px));
            }

            &:nth-of-type(10) {
                @include transform(translate(-1px, 27px));
            }

            &:nth-of-type(11) {
                @include transform(translate(22px, 22px));
            }

            &:nth-of-type(12) {
                @include transform(translate(18px, 18px));
            }

            &:nth-of-type(13) {
                @include transform(translate(27px, 27px));
            }
        }
    }
}
