@font-face {
    font-family: "MyriadPro-Black";
    src:
        local("MyriadPro-Black"),
        url("assets/fonts/MyriadPro-Black.woff2") format("woff2");
}

@font-face {
    font-family: "MyriadPro-Bold";
    src:
        local("MyriadPro-Bold"),
        url("assets/fonts/MyriadPro-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "MyriadPro-Regular";
    src:
        local("MyriadPro-Regular"),
        url("assets/fonts/MyriadPro-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Tektur-Bold";
    src:
        local("Tektur-Bold"),
        url("assets/fonts/Tektur-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Tektur-Medium";
    src:
        local("Tektur-Medium"),
        url("assets/fonts/Tektur-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Tektur-Regular";
    src:
        local("Tektur-Regular"),
        url("assets/fonts/Tektur-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Tektur-SemiBold";
    src:
        local("Tektur-SemiBold"),
        url("assets/fonts/Tektur-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Unbounded-Black";
    src:
        local("Unbounded-Black"),
        url("assets/fonts/Unbounded-Black.woff2") format("woff2");
}

@font-face {
    font-family: "Unbounded-Bold";
    src:
        local("Unbounded-Bold"),
        url("assets/fonts/Unbounded-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Unbounded-Regular";
    src:
        local("Unbounded-Regular"),
        url("assets/fonts/Unbounded-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "RobotoMono-Regular";
    src:
        local("RobotoMono-Regular"),
        url("assets/fonts/RobotoMono-Regular.woff2") format("woff2");
}