/*********************************
FONTS
*********************************/
$font-light: 'Source Sans Pro', sans-serif;
$font-weight-light: 300;
$font-regular: 'Source Sans Pro', sans-serif;
$font-weight-regular: 400;
$font-semibold: 'Source Sans Pro', sans-serif;
$font-weight-semibold: 600;
$font-bold: 'Source Sans Pro', sans-serif;
$font-weight-bold: 700;
$font-black: 'Source Sans Pro', sans-serif;
$font-weight-black: 900;

/*********************************
COLORS
*********************************/
$primary-text-color: blue;
$primary-bg-color: blue;
$primary-active-text-color: green;
$primary-active-bg-color: green;
$secondary-text-color: #1a1a1a;
$secondary-bg-color: #1a1a1a;
$success-text-color: #1a1a1a;
$success-bg-color: #1a1a1a;
$dark-text-color: #000000;
$dark-bg-color: #000000;
$light-text-color: #1a1a1a;
$light-bg-color: #1a1a1a;
$white-text-color: #ffffff;
$white-bg-color: #ffffff;