/*********************************
FONTS
*********************************/
$font-MyriadPro-Black: 'MyriadPro', sans-serif;
$font-MyriadPro-Bold: 'MyriadPro', sans-serif;
$font-MyriadPro-Regular: 'MyriadPro', sans-serif;
$font-Tektur-Bold: 'Tektur', sans-serif;
$font-Tektur-Medium: 'Tektur', sans-serif;
$font-Tektur-Regular: 'Tektur', sans-serif;
$font-Tektur-SemiBold: 'Tektur', sans-serif;
$font-Unbounded-Black: 'Unbounded', sans-serif;
$font-Unbounded-Bold: 'Unbounded', sans-serif;
$font-Unbounded-Regular: 'Unbounded', sans-serif;
$font-RobotoMono-Regular: 'Roboto Mono', monospace, sans-serif;


/*********************************
COLORS
*********************************/
$primary-text-color: #119BFF;
$secondary-text-color: #557192;
$primary-bg-color: #119BFF;
$primary-active-text-color: #119BFF;
$primary-active-bg-color: green;
$white-text-color: #ffffff;
$white-bg-color: #ffffff;
$black-text-color: #1D0629;