/*********************************
FONTS
*********************************/
$font-MyriadPro-Black: 'MyriadPro', sans-serif;
$font-MyriadPro-Bold: 'MyriadPro', sans-serif;
$font-MyriadPro-Regular: 'MyriadPro', sans-serif;
$font-Tektur-Bold: 'Tektur', sans-serif;
$font-Tektur-Medium: 'Tektur', sans-serif;
$font-Tektur-Regular: 'Tektur', sans-serif;
$font-Tektur-SemiBold: 'Tektur', sans-serif;
$font-Unbounded-Black: 'Unbounded', sans-serif;
$font-Unbounded-Bold: 'Unbounded', sans-serif;
$font-Unbounded-Regular: 'Unbounded', sans-serif;
$font-RobotoMono-Regular: 'Roboto Mono', monospace, sans-serif;


/*********************************
COLORS
*********************************/
$primary-text-color: blue;
$primary-bg-color: blue;
$primary-active-text-color: green;
$primary-active-bg-color: green;
$secondary-text-color: #1a1a1a;
$secondary-bg-color: #1a1a1a;
$success-text-color: #1a1a1a;
$success-bg-color: #1a1a1a;
$dark-text-color: #000000;
$dark-bg-color: #000000;
$light-text-color: #1a1a1a;
$light-bg-color: #1a1a1a;
$white-text-color: #ffffff;
$white-bg-color: #ffffff;