@-webkit-keyframes decorative-line {
    0% {opacity: 0;}
    10% {opacity: 0;}
    10.1% {opacity: 1;}
    10.2% {opacity: 0;}
    20% {opacity: 0;}
    20.1% {opacity: 1;}
    20.6% {opacity: 0;}
    30% {opacity: 0;}
    30.1% {opacity: 1;}
    30.5% {opacity: 1;}
    30.6% {opacity: 0;}
    45% {opacity: 0;}
    45.1% {opacity: 1;}
    50% {opacity: 1;}
    55% {opacity: 1;}
    55.1% {opacity: 0;}
    57% {opacity: 0;}
    57.1% {opacity: 1;}
    60% {opacity: 1;}
    60.1% {opacity: 0;}
    65% {opacity: 0;}
    65.1% {opacity: 1;}
    75% {opacity: 1;}
    75.1% {opacity: 0;}
    77% {opacity: 0;}
    77.1% {opacity: 1;}
    85% {opacity: 1;}
    85.1% {opacity: 0;}
    86% {opacity: 0;}
    86.1% {opacity: 1;}
    100% {opacity: 1;}
}
@keyframes decorative-line {
    0% {opacity: 0;}
    10% {opacity: 0;}
    10.1% {opacity: 1;}
    10.2% {opacity: 0;}
    20% {opacity: 0;}
    20.1% {opacity: 1;}
    20.6% {opacity: 0;}
    30% {opacity: 0;}
    30.1% {opacity: 1;}
    30.5% {opacity: 1;}
    30.6% {opacity: 0;}
    45% {opacity: 0;}
    45.1% {opacity: 1;}
    50% {opacity: 1;}
    55% {opacity: 1;}
    55.1% {opacity: 0;}
    57% {opacity: 0;}
    57.1% {opacity: 1;}
    60% {opacity: 1;}
    60.1% {opacity: 0;}
    65% {opacity: 0;}
    65.1% {opacity: 1;}
    75% {opacity: 1;}
    75.1% {opacity: 0;}
    77% {opacity: 0;}
    77.1% {opacity: 1;}
    85% {opacity: 1;}
    85.1% {opacity: 0;}
    86% {opacity: 0;}
    86.1% {opacity: 1;}
    100% {opacity: 1;}
}

@-webkit-keyframes transform-left {
    from {
        opacity: 0;
        @include transform(translate3d(-100%, 0, 0));
    }
    to {
        opacity: 1;
        @include transform(translate3d(-0, 0, 0));
    }
}
@keyframes transform-bottom-left {
    from {
        opacity: 0;
        @include transform(translate3d(-100%, 100%, 0) rotate(-35deg));
    }
    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0) rotate(-35deg));
    }
}

@-webkit-keyframes transform-bottom-left {
    from {
        opacity: 0;
        @include transform(translate3d(-100%, 100%, 0) rotate(-35deg));
    }
    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0) rotate(-35deg));
    }
}
@keyframes transform-left {
    from {
        opacity: 0;
        @include transform(translate3d(-100%, 0, 0));
    }
    to {
        opacity: 1;
        @include transform(translate3d(-0, 0, 0));
    }
}

@-webkit-keyframes transform-right {
    from {
        opacity: 0;
        @include transform(translate3d(100%, 0, 0));
    }
    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}
@keyframes transform-right {
    from {
        opacity: 0;
        @include transform(translate3d(100%, 0, 0));
    }
    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}
@keyframes transform-bottom-right {
    from {
        opacity: 0;
        @include transform(translate3d(100%, 100%, 0) rotate(26deg));
    }
    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0) rotate(26deg));
    }
}

@-webkit-keyframes transform-bottom-right {
    from {
        opacity: 0;
        @include transform(translate3d(100%, 100%, 0) rotate(26deg));
    }
    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0) rotate(26deg));
    }
}

@-webkit-keyframes transform-top-left {
    from {
        opacity: 0;
        @include transform(translate3d(170%, -170%, 0) rotate(183deg));
    }
    to {
        opacity: 1;
        @include transform(translate3d(-150%, 100%, 0) rotate(183deg));
    }
}

@keyframes transform-top-left {
    from {
        opacity: 0;
        @include transform(translate3d(170%, -170%, 0) rotate(183deg));
    }
    to {
        opacity: 1;
        @include transform(translate3d(-150%, 100%, 0) rotate(183deg));
    }
}

@-webkit-keyframes transform-top-right {
    from {
        opacity: 0;
        @include transform(translate3d(170%, -170%, 0) rotate(183deg));
    }
    to {
        opacity: 1;
        @include transform(translate3d(-150%, 100%, 0) rotate(183deg));
    }
}

@keyframes transform-top-right {
    from {
        opacity: 0;
        @include transform(translate3d(-170%, -170%, 0) rotate(85deg));
    }
    to {
        opacity: 1;
        @include transform(translate3d(140%, 90%, 0) rotate(85deg));
    }
}

@-webkit-keyframes transform-bottom {
    from {
        opacity: 0;
        @include transform(translate3d(0, 100%, 0));
    }
    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}
@keyframes transform-bottom {
    from {
        opacity: 0;
        @include transform(translate3d(0, 100%, 0));
    }
    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}

@-webkit-keyframes text-flicker {
    0% {opacity: 0;}
    4% {
        opacity: 0;
        text-shadow: none;
    }
    6.1% {
        opacity: 1;
        text-shadow: none;
    }
    10% {
        opacity: 0;
        text-shadow: none;
    }
    10.1% {
        opacity: 1;
        text-shadow: none;
    }
    10.2% {
        opacity: 0;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    20% {
        opacity: 0;
        text-shadow: none;
    }
    20.1% {
        opacity: 1;
    }
    20.6% {
        opacity: 0;
        text-shadow: none;
    }
    30% {
        opacity: 0;
        text-shadow: none;
    }
    30.1% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    30.5% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    30.6% {
        opacity: 0;
        text-shadow: none;
    }
    45% {
        opacity: 0;
        text-shadow: none;
    }
    45.1% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    50% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    55% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    55.1% {
        opacity: 0;
        text-shadow: none;
    }
    57% {
        opacity: 0;
        text-shadow: none;
    }
    57.1% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    60% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    60.1% {
        opacity: 0;
        text-shadow: none;
    }
    65% {
        opacity: 0;
        text-shadow: none;
    }
    65.1% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    75% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    75.1% {
        opacity: 0;
        text-shadow: none;
    }
    77% {
        opacity: 0;
        text-shadow: none;
    }
    77.1% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    85% {
        opacity: 1;
    }
    85.1% {
        opacity: 0;
        text-shadow: none;
    }
    86% {
        opacity: 0;
        text-shadow: none;
    }
    86.1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
}
@keyframes text-flicker {
    0% {opacity: 0;}
    4% {
        opacity: 0;
        text-shadow: none;
    }
    6.1% {
        opacity: 1;
        text-shadow: none;
    }
    10% {
        opacity: 0;
        text-shadow: none;
    }
    10.1% {
        opacity: 1;
        text-shadow: none;
    }
    10.2% {
        opacity: 0;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    20% {
        opacity: 0;
        text-shadow: none;
    }
    20.1% {
        opacity: 1;
    }
    20.6% {
        opacity: 0;
        text-shadow: none;
    }
    30% {
        opacity: 0;
        text-shadow: none;
    }
    30.1% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    30.5% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    30.6% {
        opacity: 0;
        text-shadow: none;
    }
    45% {
        opacity: 0;
        text-shadow: none;
    }
    45.1% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    50% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    55% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    55.1% {
        opacity: 0;
        text-shadow: none;
    }
    57% {
        opacity: 0;
        text-shadow: none;
    }
    57.1% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    60% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    60.1% {
        opacity: 0;
        text-shadow: none;
    }
    65% {
        opacity: 0;
        text-shadow: none;
    }
    65.1% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    75% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    75.1% {
        opacity: 0;
        text-shadow: none;
    }
    77% {
        opacity: 0;
        text-shadow: none;
    }
    77.1% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
    85% {
        opacity: 1;
    }
    85.1% {
        opacity: 0;
        text-shadow: none;
    }
    86% {
        opacity: 0;
        text-shadow: none;
    }
    86.1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
        @include appearance(none);
        @include outline(none);
    }
}

@-webkit-keyframes element-animation-1 {
    0% {
        @include transform(translate3d(0, 0, 0));
        z-index: 0;
    }
    40% {
        @include transform(translate3d(-100%, -100%, 0));
        z-index: 0;
    }
    40.1% {
        @include transform(translate3d(-100%, -100%, 0) rotate(-50deg));
        z-index: 0;
    }
    40.2% {
        @include transform(translate3d(-100%, -100%, 0) rotate(-145deg));
        z-index: 0;
    }
    60% {
        @include transform(translate3d(-100%, 70%, 0) rotate(-145deg));
        z-index: 0;
    }
    60.1% {
        @include transform(translate3d(-100%, 70%, 0) rotate(-275deg));
        z-index: 1;
    }
    99.9% {
        @include transform(translate3d(0, 0, 0) rotate(-275deg));
        z-index: 1;
    }

    100% {
        @include transform(translate3d(0, 0, 0) rotate(0));
        z-index: 1;
    }
}
@keyframes element-animation-1 {
    0% {
        @include transform(translate3d(0, 0, 0));
        z-index: 0;
    }
    40% {
        @include transform(translate3d(-100%, -100%, 0));
        z-index: 0;
    }
    40.1% {
        @include transform(translate3d(-100%, -100%, 0) rotate(-50deg));
        z-index: 0;
    }
    40.2% {
        @include transform(translate3d(-100%, -100%, 0) rotate(-145deg));
        z-index: 0;
    }
    60% {
        @include transform(translate3d(-100%, 70%, 0) rotate(-145deg));
        z-index: 0;
    }
    60.1% {
        @include transform(translate3d(-100%, 70%, 0) rotate(-275deg));
        z-index: 1;
    }
    99.9% {
        @include transform(translate3d(0, 0, 0) rotate(-275deg));
        z-index: 1;
    }

    100% {
        @include transform(translate3d(0, 0, 0) rotate(0));
        z-index: 1;
    }
}

@-webkit-keyframes element-animation-2 {
    0% {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
    40% {
        @include transform(translate3d(180px, -300px, 0));
    }
    40.1% {
        @include transform(translate3d(180px, -300px, 0) rotate(50deg));
    }
    40.2% {
        @include transform(translate3d(180px, -300px, 0) rotate(50deg));
    }
    50% {
        @include transform(translate3d(300px, -300px, 0) rotate(50deg));
    }
    50.1% {
        @include transform(translate3d(300px, -300px, 0) rotate(180deg));
    }

    99.9% {
        @include transform(translate3d(0, 0, 0) rotate(180deg));
    }

    100% {
        @include transform(translate3d(0, 0, 0));
    }
}
@keyframes element-animation-2 {
    0% {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
    40% {
        @include transform(translate3d(180px, -300px, 0));
    }
    40.1% {
        @include transform(translate3d(180px, -300px, 0) rotate(50deg));
    }
    40.2% {
        @include transform(translate3d(180px, -300px, 0) rotate(50deg));
    }
    50% {
        @include transform(translate3d(300px, -300px, 0) rotate(50deg));
    }
    50.1% {
        @include transform(translate3d(300px, -300px, 0) rotate(180deg));
    }

    99.9% {
        @include transform(translate3d(0, 0, 0) rotate(180deg));
    }

    100% {
        @include transform(translate3d(0, 0, 0));
    }
}

@-webkit-keyframes element-animation-3 {
    0% {
        @include transform(translate3d(-150%, 150%, 0));
        opacity: 1;
    }

    50.8% {
        @include transform(translate3d(100%, -300%, 0));
    }

    50.9% {
        @include transform(translate3d(100%, -300%, 0));
        opacity: 0;
    }

    60% {
        @include transform(translate3d(-150%, 150%, 0));
        opacity: 1;
    }

    100% {
        @include transform(translate3d(0, 0, 0));
        opacity: 1;
    }
}
@keyframes element-animation-3 {
    0% {
        @include transform(translate3d(-150%, 150%, 0));
        opacity: 1;
    }

    50.8% {
        @include transform(translate3d(100%, -300%, 0));
    }

    50.9% {
        @include transform(translate3d(100%, -300%, 0));
        opacity: 0;
    }

    60.1% {
        @include transform(translate3d(-150%, 150%, 0));
        opacity: 0;
    }

    60.2% {
        @include transform(translate3d(-150%, 150%, 0));
        opacity: 1;
    }

    100% {
        @include transform(translate3d(0, 0, 0));
        opacity: 1;
    }
}

@-webkit-keyframes element-animation-4 {
    0% {
        @include transform(translate3d(200%, -200%, 0));
        opacity: 1;
    }

    20.8% {
        @include transform(translate3d(0, 70%, 0));
    }
    20.9% {
        @include transform(translate3d(0, 70%, 0) rotate(45deg));
    }

    60.8% {
        @include transform(translate3d(-700%, 70%, 0) rotate(45deg));
        opacity: 1;
    }

    60.9% {
        @include transform(translate3d(-700%, 70%, 0) rotate(45deg));
        opacity: 0;
    }

    61% {
        @include transform(translate3d(200%, -200%, 0));
        opacity: 1;
    }

    100% {
        @include transform(translate3d(-50%, 50%, 0));
    }
}
@keyframes element-animation-4 {
    0% {
        @include transform(translate3d(200%, -200%, 0));
        opacity: 1;
    }

    20.8% {
        @include transform(translate3d(0, 70%, 0));
    }
    20.9% {
        @include transform(translate3d(0, 70%, 0) rotate(45deg));
    }

    60.8% {
        @include transform(translate3d(-700%, 70%, 0) rotate(45deg));
        opacity: 1;
    }

    60.9% {
        @include transform(translate3d(-700%, 70%, 0) rotate(45deg));
        opacity: 0;
    }

    61% {
        @include transform(translate3d(200%, -200%, 0));
        opacity: 1;
    }

    100% {
        @include transform(translate3d(-50%, 50%, 0));
    }
}

@-webkit-keyframes element-animation-5 {
    0% {
        @include transform(translate3d(0, 0, 0) rotate(-50deg));
        opacity: 1;
    }

    20.8% {
        @include transform(translate3d(0, 0, 0) rotate(-50deg));
    }
    20.9% {
        @include transform(translate3d(0, 0, 0) rotate(0));
    }

    80% {
        @include transform(translate3d(-600px, -600px, 0) rotate(0));
    }

    80.1% {
        @include transform(translate3d(-600px, -600px, 0) rotate(-50deg));
    }

    99.9% {
        @include transform(translate3d(0, 0, 0) rotate(-50deg));
        opacity: 1;
    }

    100% {
        @include transform(translate3d(0, 0, 0) rotate(-50deg));
        opacity: 1;
    }
}
@keyframes element-animation-5 {
    0% {
        @include transform(translate3d(0, 0, 0) rotate(-50deg));
        opacity: 1;
    }

    20.8% {
        @include transform(translate3d(0, 0, 0) rotate(-50deg));
    }
    20.9% {
        @include transform(translate3d(0, 0, 0) rotate(0));
    }

    80% {
        @include transform(translate3d(-600px, -600px, 0) rotate(0));
    }

    80.1% {
        @include transform(translate3d(-600px, -600px, 0) rotate(-50deg));
    }

    99.9% {
        @include transform(translate3d(0, 0, 0) rotate(-50deg));
        opacity: 1;
    }

    100% {
        @include transform(translate3d(0, 0, 0) rotate(-50deg));
        opacity: 1;
    }
}

@-webkit-keyframes element-animation-6 {
    0% {
        @include transform(translate3d(0, 0, 0));
    }
    0.1% {
        @include transform(translate3d(0, 0, 0) rotate(-110deg));
    }

    20.8% {
        @include transform(translate3d(240%, -200%, 0) rotate(-110deg));
    }
    20.9% {
        @include transform(translate3d(240%, -200%, 0) rotate(-150deg));
    }

    60% {
        @include transform(translate3d(240%, -340%, 0) rotate(-150deg));
    }

    60.1% {
        @include transform(translate3d(240%, -340%, 0) rotate(-270deg));
    }

    80% {
        @include transform(translate3d(-340%, 0%, 0) rotate(-270deg));
    }

    80.1% {
        @include transform(translate3d(-340%, 0%, 0) rotate(-60deg));
    }

    99.9% {
        @include transform(translate3d(0, 0, 0) rotate(-60deg));
    }

    100% {
        @include transform(translate3d(0, 0, 0) rotate(0));
    }
}
@keyframes element-animation-6 {
    0% {
        @include transform(translate3d(0, 0, 0));
    }
    0.1% {
        @include transform(translate3d(0, 0, 0) rotate(-110deg));
    }

    20.8% {
        @include transform(translate3d(240%, -200%, 0) rotate(-110deg));
    }
    20.9% {
        @include transform(translate3d(240%, -200%, 0) rotate(-150deg));
    }

    60% { @include transform(translate3d(240%, -340%, 0) rotate(-150deg)); }
    60.1% { @include transform(translate3d(240%, -340%, 0) rotate(-270deg)); }
    80% { @include transform(translate3d(-340%, 0%, 0) rotate(-270deg)); }
    80.1% { @include transform(translate3d(-340%, 0%, 0) rotate(-60deg)); }
    99.9% { @include transform(translate3d(0, 0, 0) rotate(-60deg)); }
    100% { @include transform(translate3d(0, 0, 0) rotate(0)); }
}

@-webkit-keyframes element-animation-7 {
    0% {
        @include transform(translate3d(-130%, 150%, 0)  rotate(-90deg));
        opacity: 1;
    }

    24.8% {
        @include transform(translate3d(0, 0, 0) rotate(-90deg));
    }
    24.9% {
        @include transform(translate3d(0, 0, 0) rotate(0));
    }

    70% {
        @include transform(translate3d(160%, 200%, 0) rotate(0));
    }

    70.1% {
        @include transform(translate3d(160%, 200%, 0) rotate(-45deg));
    }

    99.9% {
        @include transform(translate3d(420%, 200%, 0) rotate(-45deg));
        opacity: 1;
    }
    100% {
        @include transform(translate3d(420%, 200%, 0) rotate(-45deg));
        opacity: 0;
    }
}
@keyframes element-animation-7 {
    0% {
        @include transform(translate3d(-130%, 150%, 0)  rotate(-90deg));
        opacity: 1;
    }

    24.8% {
        @include transform(translate3d(0, 0, 0) rotate(-90deg));
    }
    24.9% {
        @include transform(translate3d(0, 0, 0) rotate(0));
    }

    70% {
        @include transform(translate3d(160%, 200%, 0) rotate(0));
    }

    70.1% {
        @include transform(translate3d(160%, 200%, 0) rotate(-45deg));
    }

    99.9% {
        @include transform(translate3d(420%, 200%, 0) rotate(-45deg));
        opacity: 1;
    }
    100% {
        @include transform(translate3d(420%, 200%, 0) rotate(-45deg));
        opacity: 0;
    }
}

@-webkit-keyframes element-animation-8 {
    0% {
        @include transform(translate3d(-645%, -100%, 0) rotate(-50deg));
        opacity: 1;
    }
    50% {
        @include transform(translate3d(-70%, -100%, 0) rotate(-50deg));
    }
    50.1% {
        @include transform(translate3d(-70%, -100%, 0) rotate(0));
    }
    99.9% {
        @include transform(translate3d(100%, 100%, 0) rotate(0));
        opacity: 1;
    }
    100% {
        @include transform(translate3d(100%, 100%, 0) rotate(0));
        opacity: 0;
    }
}
@keyframes element-animation-8 {
    0% {
        @include transform(translate3d(-645%, -100%, 0) rotate(-50deg));
        opacity: 1;
    }
    50% {
        @include transform(translate3d(-70%, -100%, 0) rotate(-50deg));
    }
    50.1% {
        @include transform(translate3d(-70%, -100%, 0) rotate(0));
    }
    99.9% {
        @include transform(translate3d(100%, 100%, 0) rotate(0));
        opacity: 1;
    }
    100% {
        @include transform(translate3d(100%, 100%, 0) rotate(0));
        opacity: 0;
    }
}

@-webkit-keyframes element-animation-9 {
    0% {
        @include transform(translate3d(0, 0, 0) rotate(164deg));
        opacity: 1;
    }

    24.8% {
        @include transform(translate3d(200%, 150%, 0) rotate(164deg));
    }
    24.9% {
        @include transform(translate3d(200%, 150%, 0) rotate(80deg));
    }

    70% {
        @include transform(translate3d(450%, -100%, 0) rotate(80deg));
    }

    70.1% {
        @include transform(translate3d(450%, -100%, 0) rotate(-20deg));
    }

    99.9% {
        @include transform(translate3d(-150%, -560%, 0) rotate(-20deg));
        opacity: 1;
    }
    100% {
        @include transform(translate3d(-150%, -560%, 0) rotate(-20deg));
        opacity: 0;
    }
}
@keyframes element-animation-9 {
    0% {
        @include transform(translate3d(0, 0, 0) rotate(164deg));
        opacity: 1;
    }

    24.8% {
        @include transform(translate3d(200%, 150%, 0) rotate(164deg));
    }
    24.9% {
        @include transform(translate3d(200%, 150%, 0) rotate(80deg));
    }

    70% {
        @include transform(translate3d(450%, -100%, 0) rotate(80deg));
    }

    70.1% {
        @include transform(translate3d(450%, -100%, 0) rotate(-20deg));
    }

    99.9% {
        @include transform(translate3d(-150%, -560%, 0) rotate(-20deg));
        opacity: 1;
    }
    100% {
        @include transform(translate3d(-150%, -560%, 0) rotate(-20deg));
        opacity: 0;
    }
}

@-webkit-keyframes element-animation-10 {
    0% {
        @include transform(translate3d(-700%, 500%, 0) rotate(180deg));
        opacity: 1;
    }

    24.8% {
        @include transform(translate3d(40%, -40%, 0) rotate(180deg));
    }
    24.9% {
        @include transform(translate3d(40%, -40%, 0) rotate(135deg));
    }

    70% {
        @include transform(translate3d(40%, -840%, 0) rotate(135deg));
    }

    70.1% {
        @include transform(translate3d(40%, -840%, 0) rotate(175deg));
    }

    99.9% {
        @include transform(translate3d(200%, -940%, 0) rotate(175deg));
        opacity: 1;
    }
    100% {
        @include transform(translate3d(200%, -90%, 0) rotate(175deg));
        opacity: 0;
    }
}
@keyframes element-animation-10 {
    0% {
        @include transform(translate3d(-700%, 500%, 0) rotate(180deg));
        opacity: 1;
    }

    24.8% {
        @include transform(translate3d(40%, -40%, 0) rotate(180deg));
    }
    24.9% {
        @include transform(translate3d(40%, -40%, 0) rotate(135deg));
    }

    70% {
        @include transform(translate3d(40%, -840%, 0) rotate(135deg));
    }

    70.1% {
        @include transform(translate3d(40%, -840%, 0) rotate(175deg));
    }

    99.9% {
        @include transform(translate3d(200%, -940%, 0) rotate(175deg));
        opacity: 1;
    }
    100% {
        @include transform(translate3d(200%, -90%, 0) rotate(175deg));
        opacity: 0;
    }
}

@-webkit-keyframes element-animation-11 {
    0% {
        @include transform(translate3d(100%, 100%, 0) rotate(-75deg));
    }
    33% {
        @include transform(translate3d(-700%, -800%, 0) rotate(-75deg));
    }
    33.1% {
        @include transform(translate3d(-700%, -800%, 0) rotate(15deg));
    }
    66% {
        @include transform(translate3d(0%, -1000%, 0) rotate(15deg));
    }
    66.1% {
        @include transform(translate3d(0%, -1000%, 0) rotate(-90deg));
    }
    100% {
        @include transform(translate3d(-700%, -1200%, 0) rotate(-90deg));
    }
}
@keyframes element-animation-11 {
    0% {
        @include transform(translate3d(100%, 100%, 0) rotate(-75deg));
    }
    33% {
        @include transform(translate3d(-700%, -800%, 0) rotate(-75deg));
    }
    33.1% {
        @include transform(translate3d(-700%, -800%, 0) rotate(15deg));
    }
    66% {
        @include transform(translate3d(0%, -1000%, 0) rotate(15deg));
    }
    66.1% {
        @include transform(translate3d(0%, -1000%, 0) rotate(-90deg));
    }
    100% {
        @include transform(translate3d(-700%, -1200%, 0) rotate(-90deg));
    }
}


@keyframes loader {
    0% { @include transform(scale(0.9)); }
    50% { @include transform(scale(1.1)); }
    100% { @include transform(scale(0.9)); }
}

@keyframes transform {
    0% {@include transform(translateY(20px) scale(0.9));}
    100% {@include transform(translateY(0) scale(1));}
}

@keyframes text {
    0% {@include transform(translateY(20px) scale(0.9));}
    100% {@include transform(translateY(0) scale(1));}
}

@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}