
@keyframes shadow {
    0% {@include text-shadow(0 4px 60px rgba($primary-text-color, 0));}
    100% {@include text-shadow(0 4px 60px rgba($primary-text-color, 0.5));}
}

@keyframes decorative-line {
    0% {opacity: 0;}
    10% {opacity: 0;}
    10.1% {opacity: 1;}
    10.2% {opacity: 0;}
    20% {opacity: 0;}
    20.1% {opacity: 1;}
    20.6% {opacity: 0;}
    30% {opacity: 0;}
    30.1% {opacity: 1;}
    30.5% {opacity: 1;}
    30.6% {opacity: 0;}
    45% {opacity: 0;}
    45.1% {opacity: 1;}
    50% {opacity: 1;}
    55% {opacity: 1;}
    55.1% {opacity: 0;}
    57% {opacity: 0;}
    57.1% {opacity: 1;}
    60% {opacity: 1;}
    60.1% {opacity: 0;}
    65% {opacity: 0;}
    65.1% {opacity: 1;}
    75% {opacity: 1;}
    75.1% {opacity: 0;}
    77% {opacity: 0;}
    77.1% {opacity: 1;}
    85% {opacity: 1;}
    85.1% {opacity: 0;}
    86% {opacity: 0;}
    86.1% {opacity: 1;}
    100% {opacity: 1;}
}


/*@-webkit-keyframes text-flicker-in-glow {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        text-shadow: none;
    }
    10.1% {
        opacity: 1;
        text-shadow: none;
    }
    10.2% {
        opacity: 0;
        text-shadow: none;
    }
    20% {
        opacity: 0;
        text-shadow: none;
    }
    20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba($primary-text-color, 0.25);
    }
    20.6% {
        opacity: 0;
        text-shadow: none;
    }
    30% {
        opacity: 0;
        text-shadow: none;
    }
    30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba($primary-text-color, 0.45), 0 0 60px rgba($primary-text-color, 0.25);
    }
    30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba($primary-text-color, 0.45), 0 0 60px rgba($primary-text-color, 0.25);
    }
    30.6% {
        opacity: 0;
        text-shadow: none;
    }
    45% {
        opacity: 0;
        text-shadow: none;
    }
    45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba($primary-text-color, 0.45), 0 0 60px rgba($primary-text-color, 0.25);
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba($primary-text-color, 0.45), 0 0 60px rgba($primary-text-color, 0.25);
    }
    55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba($primary-text-color, 0.45), 0 0 60px rgba($primary-text-color, 0.25);
    }
    55.1% {
        opacity: 0;
        text-shadow: none;
    }
    57% {
        opacity: 0;
        text-shadow: none;
    }
    57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba($primary-text-color, 0.55), 0 0 60px rgba($primary-text-color, 0.35);
    }
    60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba($primary-text-color, 0.55), 0 0 60px rgba($primary-text-color, 0.35);
    }
    60.1% {
        opacity: 0;
        text-shadow: none;
    }
    65% {
        opacity: 0;
        text-shadow: none;
    }
    65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba($primary-text-color, 0.55), 0 0 60px rgba($primary-text-color, 0.35), 0 0 100px rgba($primary-text-color, 0.1);
    }
    75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba($primary-text-color, 0.55), 0 0 60px rgba($primary-text-color, 0.35), 0 0 100px rgba($primary-text-color, 0.1);
    }
    75.1% {
        opacity: 0;
        text-shadow: none;
    }
    77% {
        opacity: 0;
        text-shadow: none;
    }
    77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba($primary-text-color, 0.55), 0 0 60px rgba($primary-text-color, 0.4), 0 0 110px rgba($primary-text-color, 0.2), 0 0 100px rgba($primary-text-color, 0.1);
    }
    85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba($primary-text-color, 0.55), 0 0 60px rgba($primary-text-color, 0.4), 0 0 110px rgba($primary-text-color, 0.2), 0 0 100px rgba($primary-text-color, 0.1);
    }
    85.1% {
        opacity: 0;
        text-shadow: none;
    }
    86% {
        opacity: 0;
        text-shadow: none;
    }
    86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba($primary-text-color, 0.6), 0 0 60px rgba($primary-text-color, 0.45), 0 0 110px rgba($primary-text-color, 0.25), 0 0 100px rgba($primary-text-color, 0.1);
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba($primary-text-color, 0.6), 0 0 60px rgba($primary-text-color, 0.45), 0 0 110px rgba($primary-text-color, 0.25), 0 0 100px rgba($primary-text-color, 0.1);
    }
}*/



@keyframes transform-left {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


@keyframes transform-right {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


@keyframes text-flicker {
    0% {opacity: 0;}
    10% {
        opacity: 0;
        text-shadow: none;
    }
    10.1% {
        opacity: 1;
        text-shadow: none;
    }
    10.2% {
        opacity: 0;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
    }
    20% {
        opacity: 0;
        text-shadow: none;
    }
    20.1% {
        opacity: 1;
    }
    20.6% {
        opacity: 0;
        text-shadow: none;
    }
    30% {
        opacity: 0;
        text-shadow: none;
    }
    30.1% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
    }
    30.5% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
    }
    30.6% {
        opacity: 0;
        text-shadow: none;
    }
    45% {
        opacity: 0;
        text-shadow: none;
    }
    45.1% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
    }
    50% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
    }
    55% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
    }
    55.1% {
        opacity: 0;
        text-shadow: none;
    }
    57% {
        opacity: 0;
        text-shadow: none;
    }
    57.1% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
    }
    60% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
    }
    60.1% {
        opacity: 0;
        text-shadow: none;
    }
    65% {
        opacity: 0;
        text-shadow: none;
    }
    65.1% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
    }
    75% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
    }
    75.1% {
        opacity: 0;
        text-shadow: none;
    }
    77% {
        opacity: 0;
        text-shadow: none;
    }
    77.1% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
    }
    85% {
        opacity: 1;
    }
    85.1% {
        opacity: 0;
        text-shadow: none;
    }
    86% {
        opacity: 0;
        text-shadow: none;
    }
    86.1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        text-shadow: 0 4px 60px rgba($primary-text-color, 0.4);
    }
}
