.header-section {
    padding: 15px 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0,7,24,1) 0%,rgba(0,7,24,0.3) 100%);

    &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 60px;
        background: url("./assets/images/header-bottom-line.png") no-repeat;
        background-size: 100% auto;
        background-position: center top;
    }

    .header-wrap {
        position: relative;

        @include display-flex;
        @include align-items-center;
        @include justify-content-space-between;

        @include min-large {
            padding: 10px 0 10px 95px;
        }

        @include min-extra-large {
            padding: 20px 0 20px 126px;
        }
    }

    .logo {
        position: absolute;
        top: 26px;
        left: 50%;
        @include transform(translate(-50%, 0));

        a {
            position: relative;
            display: inline-block;

            @include min-medium {
                width: 70px;
                height: 70px;
            }

            @include min-extra-large {
                width: 93px;
                height: 93px;
            }

            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                vertical-align: bottom;
            }

            &:before {
                content: '';
                position: absolute;
                top: 30px;
                left: 0;
                width: 54px;
                height: 54px;
                background: $primary-text-color;
                @include border-radius(50%);
                filter: blur(55px);
                @include transition(all 0.2s);

                @include min-extra-large {
                    width: 80px;
                    height: 80px;
                }
            }

            @include min-medium {
                &:hover {
                    &:before {
                        width: 0;
                        height: 0;
                    }
                }
            }
        }

    }

    .menu {
        @include max-medium {
            position: fixed;
            top: 77px;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 15px;
            transform: translateX(100%);
            transition: transform 0.5s;
            z-index: 2;

            @include display-flex;
            @include flex-direction-column;
            @include align-items-center;
            
            &.active {
                transform: translateX(0);
            }
        }

        @include min-medium {
            width: 100%;
            @include display-flex;
            @include align-items-center;
            @include justify-content-space-between;
        }

        a {
            font-size: 18px;
            line-height: 1.46;
            color: $secondary-text-color;
            text-transform: uppercase;
            position: relative;
            margin-bottom: 16px;
            padding-bottom: 6px;
            @include transition(all 0.2s);

            @include min-medium {
                //@include fluid-type(991px, 1920px, 18px, 18px);
                font-size: 14px;
                margin-bottom: 0;
            }

            @include min-extra-large {
                //@include fluid-type(991px, 1920px, 18px, 18px);
                font-size: 18px;
                margin-bottom: 0;
            }

            &:hover {
                color: $primary-active-text-color;
                
                &:after {
                    height: 5px;
                    opacity: 1;
                    @include transform(translateY(0));
                }
            }

            &:after {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 1px;
                content: '';
                opacity: 0;
                background: url("./assets/images/menu-bg-line.svg") no-repeat;
                background-size: cover;
                background-position: center;
                @include transition(all 0.2s);
                @include transform(translateY(-10px));
            }
        }

        .account, .globe {
            width: 40px;
            height: 40px;
            @include display-inline-flex;
            @include align-items-center;
            @include justify-content-center;
            padding: 0;

            clip-path: polygon(25% 0%, 100% 0, 100% 76%, 75% 100%, 0 100%, 0 20%);
            background: linear-gradient(45deg, rgba(17,155,255,0.54) 0%,rgba(17,155,255,0) 100%);
            @include transition(all 0.2s);

            @include min-extra-large {
                width: 50px;
                height: 50px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                bottom: 2px;
                right: 2px;

                clip-path: polygon(25% 0%, 100% 0, 100% 76%, 75% 100%, 0 100%, 0 20%);
                background: #030919;
                @include transition(all 0.2s);
            }

            &:after {
                display: none;
            }

            svg {
                z-index: 3;

                @include min-medium {
                    width: 19px;
                    height: 19px;
                }

                @include min-extra-large {
                    width: 26px;
                    height: 26px;
                }
            }

            @include min-medium {
                &:hover {
                    background: $primary-text-color;

                    &:before {
                        background: $primary-text-color;
                    }

                    svg {
                        path {
                            fill: #030919;
                        }
                    }
                }
            }
        }


    }

    .menu-left {
        @include min-medium {
            a {
                margin-right: 67px;
            }
        }
        @include min-extra-large {
            a {
                margin-right: 67px;
            }
        }
    }

    .menu-right {
        @include min-medium {
            @include display-flex;
            @include align-items-center;

            a {
                margin-left: 59px;
                margin-top: 6px;
            }

            .account {
                margin-top: 0;
            }

            .globe {
                margin-left: 14px;
                margin-top: 0;
            }
        }

        @include min-extra-large {
            a {
                margin-left: 80px;
            }

            .globe {
                a {
                    margin-left: 20px;
                }
            }
        }
    }

    .nav-btn {
        @include reset-button;

        width: 40px;
        height: 40px;
        position: relative;
        z-index: 2;
        overflow: hidden;

        @include min-medium {
            display: none;
        }

        &.active {
            .nav-bar {
                &:nth-of-type(1) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }

                &:nth-of-type(2) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }

        .nav-bar {
            width: 30px;
            height: 3px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 4px;
            transform: translate(-50%, -50%);
            background-color: $primary-text-color;
            transition: all 0.3s ease-in-out;

            &:nth-of-type(1) {
                top: calc(50% - 5px);
            }

            &:nth-of-type(2) {
                top: calc(50% + 5px);
            }
        }
    }
}