.hero-section {
    background: url("./assets/images/hero-bg.png") no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: relative;
    z-index: 1;

    @include min-medium {
        padding: 202px 0 245px;
    }

    .hero-container {
        position: relative;

        @include min-medium {
            @include display-flex;
            @include flex-direction-row-reverse;
            @include justify-content-space-between;
            //@include align-items-center;

        }
    }

    .hero-image {
        max-width: 523px;

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            vertical-align: bottom;
        }

        @include min-medium {
            max-width: 578px;
            margin-right: -59px;
        }
    }

    .hero-info {

        @include min-medium {
            width: calc(100% - 540px);
            padding-top: 104px;
        }
    }

    .title {
        @include font_tektur_bold;
        font-size: 130px;
        text-transform: uppercase;
        color: $primary-text-color;
        position: relative;
        margin: 0 0 39px;
        letter-spacing: 13px;
        line-height: 1;

        &:before {
            content: '';
            position: absolute;
            right: 100.5%;
            top: 63px;
            width: 231px;
            height: 142px;
            background: url("./assets/images/hero-title-line.svg") no-repeat;
            background-size: cover;
        }
    }

    .subtitle {
        @include font_tektur_bold;
        font-size: 76px;
        text-transform: uppercase;
        color: $primary-text-color;
        margin: 0 0 56px 6px;
        line-height: 1;
        letter-spacing: 7.7px;
    }

    .button {
        margin-left: 9px;
        margin-bottom: 55px;
    }

    .dominator-info {
        @include display-flex;
        @include align-items-center;
        margin-left: 6px;

        .dominators {
            @include display-flex;
            @include flex-direction-column;
            @include font_tektur_medium;
            color: $primary-text-color;
            font-size: 50px;
            text-transform: uppercase;
            position: relative;

            span {
                @include font_robotoMono_regular;
                color: $secondary-text-color;
                font-size: 18px;
                text-transform: capitalize;
            }

            &:not(:last-child) {
                padding-right: 51px;
                margin-right: 47px;

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;

                    width: 2px;
                    height: 100px;
                    background-color: $primary-text-color;
                    background: linear-gradient(to bottom, rgba(0,117,255,0) 0%,rgba(17,155,255,0.9) 50%,rgba(0,117,255,0) 100%);

                    @include transform(translateY(-50%));
                    @include box-shadow(0 4px 20px rgba($primary-text-color, 1));
                }
            }
        }
    }

    .dominator-image {
        position: absolute;

        &.first {
            left: 9.5%;
            bottom: -80px;
        }

        &.second {
            left: 53.7%;
            bottom: 44px;
            @include transform(translate(-50%, 0));
        }

        &.third {
            right: 6.6%;
            bottom: 17px;
        }
    }
}
