.hero-section {
    background: url("./assets/images/hero-bg.png") no-repeat;
    background-size: cover;
    background-position: right bottom;
    position: relative;
    z-index: 1;

    @include min-medium {
        padding: 134px 0 85px;
        margin-bottom: 45px;
    }

    @include min-extra-large {
        padding: 178px 0 125px;
        margin-bottom: 57px;
    }

    .hero-container {
        position: relative;

        @include min-medium {
            @include display-flex;
            @include flex-direction-row-reverse;
            @include justify-content-space-between;
        }
    }

    .hero-image {
        max-width: 523px;
        width: 100%;
        position: relative;

        @include min-medium {
            max-width: 400px;
        }

        @include min-large {
            max-width: 575px;
            margin-right: -137px;
        }

        @include min-extra-large {
            max-width: 758px;
            margin-right: -173px;
        }

        &:before {
            content: '';
            position: absolute;
            left: 86%;
            top: 50%;
            @include transform(translateY(-50%));
            width: 107px;
            height: 30px;
            background: url("./assets/images/hero-image-line.svg") no-repeat;
            background-size: cover;
            background-position: right center;

            @include min-extra-large {
                width: 195px;
                height: 50px;
            }
        }

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            vertical-align: bottom;
        }
    }

    .hero-info {

        @include min-large {
            width: calc(100% - 400px);
            padding-top: 96px;
        }

        @include min-extra-large {
            width: calc(100% - 540px);
            padding-top: 128px;
        }
    }

    .title {
        @include font_tektur_bold;
        font-size: 130px;
        text-transform: uppercase;
        color: $primary-text-color;
        position: relative;
        margin: 0 0 39px;
        letter-spacing: 6px;
        line-height: 1;

        @include transform(translateX(-100%));

        -webkit-animation-name: rise;
        -webkit-animation-duration: 5s;
        -webkit-animation-delay: 1s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: cubic-bezier(0, 0.25, 0.55, 1);
        -webkit-animaiton-fill-mode: forwards;
        animation-name: transform;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-timing-function: cubic-bezier(0, 0.25, 0.55, 1);
        animation-fill-mode: forwards;

        //animation-iteration-count: infinite;

        @include min-large {
            letter-spacing: 10px;
            font-size: 97px;
            margin: 0 0 29px;
        }

        @include min-extra-large {
            letter-spacing: 13px;
            font-size: 130px;
            margin: 0 0 39px;
        }

        span {
            //@include text-shadow(0 4px 60px rgba($primary-text-color, 0.5));

            animation-delay: 3.5s;

            animation-name: shadow;
            animation-duration: 0.2s;
            animation-timing-function: cubic-bezier(0, 0.25, 0.55, 1);
            animation-fill-mode: forwards;
        }

        &:before {
            content: '';
            position: absolute;
            right: 100.5%;
            top: 63px;
            width: 231px;
            height: 142px;
            background: url("./assets/images/hero-title-line.svg") no-repeat;
            background-size: cover;
            opacity: 0;


            animation-name: title-line;
            animation-duration: 0.2s;
            animation-delay: 3s;
            animation-timing-function: cubic-bezier(0, 0.25, 0.55, 1);
            animation-fill-mode: forwards;

            @include min-large {
                top: 45px;
                width: 174px;
                height: 112px;
            }

            @include min-extra-large {
                right: 100.5%;
                top: 63px;
                width: 231px;
                height: 142px;
            }
        }
    }

    .subtitle {
        @include font_tektur_bold;
        font-size: 76px;
        text-transform: uppercase;
        color: $primary-text-color;
        margin: 0 0 56px 6px;
        line-height: 1;
        letter-spacing: 3.7px;

        @include fluid-type(375px, 1920px, 32px, 76px);

        @include min-large {
            letter-spacing: 5.7px;
            font-size: 57px;
            margin: 0 0 44px 4px;
        }

        @include min-extra-large {
            letter-spacing: 7.7px;
            font-size: 76px;
            margin: 0 0 56px 6px;
        }

    }

    .button-wrap {
        position: relative;
        margin-bottom: 20px;

        @include min-large {
            margin-left: 5px;
            margin-bottom: 40px;
        }

        @include min-extra-large {
            margin-left: 9px;
            margin-bottom: 55px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 20px;
            right: 100%;
            height: 53px;
            width: 237px;
            background: url("./assets/images/hero-button-line.svg") no-repeat;
            background-size: cover;

            @include min-large {
                top: 14px;
                height: 40px;
                width: 179px;
            }

            @include min-extra-large {
                top: 20px;
                height: 53px;
                width: 237px;
            }
        }
    }

    .dominator-info {
        @include display-flex;
        @include align-items-center;
        margin-left: 6px;

        .dominators {
            @include display-flex;
            @include flex-direction-column;
            @include font_tektur_medium;
            color: $primary-text-color;
            font-size: 50px;
            text-transform: uppercase;
            position: relative;

            @include min-large {
                font-size: 39px;
                letter-spacing: -1px;
            }

            @include min-extra-large {
                font-size: 50px;
                letter-spacing: 0;
            }

            span {
                @include font_robotoMono_regular;
                color: $secondary-text-color;
                font-size: 18px;
                text-transform: capitalize;

                @include min-large {
                    font-size: 16px;
                }

                @include min-extra-large {
                    font-size: 18px;
                }
            }

            &:not(:last-child) {
                padding-right: 51px;
                margin-right: 47px;

                @include min-large {
                    padding-right: 37px;
                    margin-right: 35px;
                }

                @include min-extra-large {
                    padding-right: 51px;
                    margin-right: 47px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;

                    width: 2px;
                    height: 100px;
                    background-color: $primary-text-color;
                    background: linear-gradient(to bottom, rgba(0,117,255,0) 0%,rgba(17,155,255,0.9) 50%,rgba(0,117,255,0) 100%);

                    @include transform(translateY(-50%));
                    @include box-shadow(0 4px 20px rgba($primary-text-color, 1));
                }
            }
        }
    }

    .dominator-image {
        position: absolute;

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            vertical-align: bottom;
        }

        &.first {
            left: 9.5%;
            bottom: -80px;

            @include min-large {
                width: 188px;
                height: 188px;
                bottom: -55px;
            }

            @include min-extra-large {
                width: 254px;
                height: 254px;
                bottom: -78px;
            }
        }

        &.second {
            left: 54%;
            bottom: 44px;
            @include transform(translate(-50%, 0));

            @include min-large {
                width: 206px;
                height: 206px;
                bottom: 37px;
            }

            @include min-extra-large {
                width: 275px;
                height: 275px;
                bottom: 51px;
            }
        }

        &.third {
            right: 6.6%;
            bottom: 17px;

            @include min-large {
                width: 180px;
                height: 180px;
                bottom: 16px;
            }

            @include min-extra-large {
                width: 240px;
                height: 240px;
                right: 6.5%;
                bottom: 20px;
            }
        }
    }
}
