.road-map-section {
    padding: 210px 0 190px;
    background: url("./assets/images/road-map-section-bg.png") no-repeat;
    background-size: auto;
    background-position: center center;

    .road-map-container {
        @include display-flex;
    }

    .section-title {
        text-align: center;
        margin-bottom: 63px;

        span {
            position: relative;

            &:before, &:after {
                content: '';
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:before {
                top: 44px;
                right: 93%;
                width: 361px;
                height: 33px;
                background-image: url("./assets/images/road-map-title-line-left.svg");
            }

            &:after {
                top: 21px;
                left: 90%;
                width: 386px;
                height: 26px;
                background-image: url("./assets/images/road-map-title-line-right.svg");
            }
        }
    }

    .button-wrap {
        text-align: center;
    }

    .road-map-line {
        position: relative;
        padding: 400px 0;
        margin-bottom: 17px;

        >img {
            width: 100%;
            height: auto;
            vertical-align: bottom;
            position: absolute;
            top: 49%;
            left: 0;
            @include transform(translateY(-50%));
            z-index: 1;
        }
    }

    .number {
        width: 54px;
        height: 65px;
        background: url("./assets/images/road-map-number-bg.png") no-repeat;
        background-size: cover;
        @include display-flex;
        @include align-items-center;
        @include justify-content-center;

        @include font_tektur_medium;
        font-size: 26px;
        color: #030A1A;
    }

    .road-map-item {
        width: 19.17%;
        position: relative;
        z-index: 2;


        &:nth-child(odd) {
            .road-map-card {
                bottom: -331px;
            }
        }

        &:nth-child(even) {
            .road-map-card {
                top: -326px;
            }
        }
    }

    .road-map-card {
        position: absolute;
        left: -34px;
        background: url('./assets/images/road-map-card-bg.png') no-repeat;
        background-size: cover;
        width: 400px;
        padding: 78px 55px 66px;

        .label {
            position: absolute;
            top: 5px;
            right: -20px;
            width: 124px;
            height: 124px;

            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }

        .title {
            @include font_tektur_semiBold;
            font-size: 20px;
            text-transform: uppercase;
            color: $primary-text-color;
            letter-spacing: 2px;
            margin-bottom: 12px;
        }

        .text {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    .road-map-section-element {
        position: absolute;
    }

    .secondary-button {
        span {
            position: relative;

            &:before, &:after {
                content: '';
                position: absolute;
                height: 25px;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:before {
                top: 31px;
                right: 112%;
                width: 184px;
                background-image: url("./assets/images/road-map-btn-line-left.svg");
            }

            &:after {
                top: 10px;
                left: 111%;
                width: 220px;
                background-image: url("./assets/images/road-map-btn-line-right.svg");
            }
        }
    }
}