.road-map-section {
    padding: 65px 0 136px;
    background: url("./assets/images/road-map-section-bg.png") no-repeat;
    background-size: auto;
    background-position: center center;
    text-align: center;

    @include min-extra-large {
        padding: 221px 0 190px;
    }

    .road-map-container {

        @include min-medium {
            @include display-flex;
        }
    }

    .section-title {
        text-align: center;
        margin-bottom: 84px;

        @include min-medium {
            margin-bottom: 30px;
        }

        @include min-large {
            margin-bottom: 96px;
        }

        span {
            position: relative;

            &:before, &:after {
                content: '';
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:before {
                top: 32px;
                right: 93%;
                width: 268px;
                height: 24px;
                background-image: url("./assets/images/road-map-title-line-left.svg");

                @include min-extra-large {
                    top: 44px;
                    width: 361px;
                    height: 33px;
                }
            }

            &:after {
                top: 14px;
                left: 90%;
                width: 236px;
                height: 20px;
                background-image: url("./assets/images/road-map-title-line-right.svg");

                @include min-extra-large {
                    top: 21px;
                    width: 386px;
                    height: 26px;
                }
            }
        }
    }

    .road-map-line {
        position: relative;
        margin-bottom: 53px;

        @include min-medium {
            padding: 290px 0;
            margin-bottom: 86px;
        }

        @include min-extra-large {
            padding: 400px 0;
            margin-bottom: 17px;
        }

        >img {
            width: 100%;
            height: auto;
            vertical-align: bottom;
            position: absolute;
            top: 49%;
            left: 0;
            @include transform(translateY(-50%));
            z-index: 1;
            display: none;

            @include min-medium {
                display: block;
            }
        }
    }

    .number {
        width: 49px;
        height: 61px;
        background: url("./assets/images/road-map-number-bg.png") no-repeat;
        background-size: cover;
        @include display-flex;
        @include align-items-center;
        @include justify-content-center;

        @include font_tektur_medium;
        font-size: 22px;
        color: #030A1A;
        position: relative;

        @include min-medium {
            width: 41px;
            height: 48px;
        }

        @include min-extra-large {
            width: 54px;
            height: 65px;
            font-size: 26px;
        }

        @include max-medium {
            position: absolute;
            top: -30px;
            left: 0;
        }

        &:before {
            content: '';
            position: absolute;
            height: 53px;
            width: 2px;
            left: 50%;
            @include transform(translateX(-50%));
            display: none;

            @include min-medium {
                display: block;
            }
        }
    }

    .road-map-item {
        width: 100%;
        position: relative;
        z-index: 2;
        text-align: left;
        padding: 0 0 0 24px;
        margin-bottom: 37px;

        @include min-medium {
            width: 19.17%;
            padding: 0;
            margin-bottom: 0;
        }

        @include min-extra-large {
            width: 19.17%;
        }

        &:nth-child(odd) {
            .road-map-card {
                @include min-medium {
                    bottom: -288px;
                }

                @include min-extra-large {
                    bottom: -306px;
                }
            }

            .number {
                &:before {
                    top: 100%;
                    background: linear-gradient(135deg, rgba(7,30,56,1) 0%,rgba(0,117,255,0) 100%);
                }
            }
        }

        &:nth-child(even) {
            .road-map-card {
                @include min-medium {
                    top: -288px;
                }

                @include min-extra-large {
                    top: -326px;
                }
            }

            .number {
                &:before {
                    bottom: 100%;
                    background: linear-gradient(135deg, rgba(0,117,255,0) 0%,rgba(7,30,56,1) 100%);
                }
            }
        }
    }

    .road-map-card {
        width: 100%;
        padding: 42px 32px 33px 25px;
        position: relative;
        @include border-radius(4px);

        @include min-medium {
            position: absolute;
            left: 0;
            width: 315px;
            padding: 40px 32px 40px 30px;
        }

        @include min-extra-large {
            width: 340px;
            padding: 40px 21px 40px 30px;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 2px;
            right: 2px;
            height: 87%;
            @include box-shadow(0 4px 30px rgba($primary-bg-color, 0.7));
            @include transition(box-shadow 0.15s);
            z-index: -2;
        }

        .label {
            position: absolute;
            top: -13px;
            right: -7px;
            width: 78px;
            height: 78px;

            @include min-extra-large {
                top: -13px;
                right: -39px;
                width: 105px;
                height: 105px;
            }

            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }

        .title {
            @include font_tektur_semiBold;
            font-size: 18px;
            text-transform: uppercase;
            color: $primary-text-color;
            letter-spacing: 1.6px;
            margin-bottom: 10px;
            margin-top: 11px;

            @include min-extra-large {
                font-size: 20px;
                letter-spacing: 2px;
                margin-bottom: 12px;
            }
        }

        .text {
            font-size: 14px;
            line-height: 1.7;

            @include min-extra-large {
                font-size: 16px;
                line-height: 1.5;
            }
        }
    }

    .road-map-card-bg {
        @include full-absolute;
        clip-path: polygon(0 0, 35% 0, 46% 11%, 100% 11%, 100% 100%, 0 100%);
        background: rgb(17, 155, 255);
        border: 2px solid transparent;
        background: linear-gradient(to right, rgba(17, 155, 255, 0.15) 0%, rgba(17, 155, 255, 0.15) 46%, rgba(17, 155, 255, 0.3) 100%);
        z-index: -1;
        @include border-radius(4px);

        @include min-large {
            clip-path: polygon(0 0, 36% 0, 48% 13%, 100% 13%, 100% 100%, 0 100%);
        }

        &:before {
            content: '';
            @include full-absolute;
            clip-path: polygon(0 0, 35% 0, 46% 11%, 100% 11%, 100% 100%, 0 100%);
            background: rgba(3,10,25, 1);
            @include border-radius(4px);

            @include min-large {
                clip-path: polygon(0 0, 36% 0, 48% 13%, 100% 13%, 100% 100%, 0 100%);
            }
        }

        &:after {
            content: '';
            @include full-absolute;
            background: url("./assets/images/road-map-card-bg.png") no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    .road-map-section-element {
        position: absolute;

        width: 170px;
        height: 170px;

        @include min-large {
            width: 200px;
            height: 200px;
        }

        @include min-extra-large {
            width: 258px;
            height: 258px;
        }

        img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            vertical-align: bottom;
        }

        &.first {
            left: 0;
            top: 107%;

            @include min-medium {
                left: 115px;
                top: -44px;
            }

            @include min-extra-large {
                left: 163px;
                top: -41px;
            }
        }

        &.second {
            right: -10px;
            top: 106%;
            @include transform(rotate(77deg));

            @include min-large {
                right: 75px;
                top: 37px;
                @include transform(rotate(0));
            }

            @include min-extra-large {
                right: 108px;
                top: 64px;
            }
        }
    }

    .button-wrap {
        position: relative;
        display: inline-block;

        &:before, &:after {
            content: '';
            position: absolute;
            height: 20px;
            background-repeat: no-repeat;
            background-size: cover;

            @include min-extra-large {
                height: 25px;
            }
        }

        &:before {
            top: 23px;
            right: 112%;
            width: 136px;
            background-image: url("./assets/images/road-map-btn-line-left.svg");

            @include min-extra-large {
                top: 31px;
                width: 184px;
            }
        }

        &:after {
            top: 7px;
            left: 111%;
            width: 172px;
            background-image: url("./assets/images/road-map-btn-line-right.svg");

            @include min-extra-large {
                top: 10px;
                width: 220px;
            }
        }
    }
}