.video-section {
    padding: 196px 0 183px;

    .video-container {
        position: relative;

        .video-element-first {
            position: absolute;
            top: -108px;
            right: -159px;
            max-width: 439px;
            max-height: 355px;
            width: 32%;
            z-index: 4;

            img {
                width: 100%;
                vertical-align: bottom;
            }
        }

        .video-element-second {
            position: absolute;
            bottom: -17px;
            left: -101px;
            max-width: 232px;
            max-height: 238px;
            width: 16%;
            z-index: 4;

            img {
                width: 100%;
                vertical-align: bottom;
            }
        }

    }

    .video-wrap {
        position: relative;

        @include display-flex;
        @include align-items-center;
        @include justify-content-center;

        clip-path: polygon(6% 0, 50% 0, 56% 10%, 100% 10%, 100% 87%, 94% 100%, 0 100%, 0 12%);
        border: 2px solid transparent;
        background: rgb(17,155,255);
        background: radial-gradient(circle, rgba(17,155,255, 0.8) 0%, rgba(0,117,255, 0.4) 100%);


        .video-image {
            width: 100%;
            clip-path: polygon(6% 0, 50% 0, 56% 10%, 100% 10%, 100% 87%, 94% 100%, 0 100%, 0 12%);

            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                vertical-align: bottom;
            }
        }

        .video-play {
            @include full-absolute;
            @include display-flex;
            @include align-items-center;
            @include justify-content-center;
            z-index: 5;
        }
    }
}

