.video-section {
    padding: 196px 0 183px;

    background: url("./assets/images/video-section-bg.png") no-repeat;
    background-size: cover;
    background-position: center top;

    @include min-large {
        padding: 154px 0 120px;
    }

    @include min-extra-large {
        padding: 196px 0 183px;
    }

    .video-container {
        position: relative;

        .video-element-first {
            position: absolute;
            top: -108px;
            right: -159px;
            max-width: 439px;
            max-height: 355px;
            width: 32%;
            z-index: 4;

            @include min-large {
                top: -82px;
                right: -118px;
                width: 29%;
            }

            @include min-extra-large {
                top: -108px;
                right: -159px;
                width: 32%;
            }

            img {
                width: 100%;
                vertical-align: bottom;
            }
        }

        .video-element-second {
            position: absolute;
            bottom: -17px;
            left: -101px;
            max-width: 232px;
            max-height: 238px;
            width: 16%;
            z-index: 4;

            @include min-large {
                bottom: -12px;
                left: -62px;
                width: 15%;
            }

            @include min-extra-large {
                bottom: -17px;
                left: -101px;
                width: 16%;;
            }

            img {
                width: 100%;
                vertical-align: bottom;
            }
        }

    }

    .video-wrap {
        position: relative;

        @include display-flex;
        @include align-items-center;
        @include justify-content-center;

        clip-path: polygon(6% 0, 50% 0, 56% 10%, 100% 10%, 100% 87%, 94% 100%, 0 100%, 0 12%);
        border: 2px solid transparent;
        background: rgb(17,155,255);
        background: radial-gradient(circle, rgba(17,155,255, 0.8) 0%, rgba(0,117,255, 0.4) 100%);


        .video-image {
            width: 100%;
            clip-path: polygon(6% 0, 50% 0, 56% 10%, 100% 10%, 100% 87%, 94% 100%, 0 100%, 0 12%);

            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                vertical-align: bottom;
            }
        }

        .video-play {
            @include full-absolute;
            @include display-flex;
            @include align-items-center;
            @include justify-content-center;
            z-index: 5;
        }
    }
}

