.dominators-section {
    background-image: url("./assets/images/home-page/dominator-bg-section-mob.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    padding: 32px 0 134px;

    @include min-medium {
        background-size: 100% auto;
        background-attachment: fixed;
        background-position: center 40%;
        background-image: url("./assets/images/home-page/dominator-bg-section.png");
    }

    @include min-large {
        padding: 69px 0 105px;
    }

    @include min-extra-large {
        padding: 69px 0 138px;
    }

    .section-title {
        text-align: center;
        margin-bottom: 39px;
        opacity: 0;

        @include min-small {
            margin-bottom: 80px;
        }

        @include min-large {
            margin-bottom: 109px;
        }

        @include min-extra-large {
            margin-bottom: 145px;
        }

        span {
            position: relative;

            @include max-small {
                line-height: 1.4;
            }

            &:before, &:after {
                content: '';
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:before {
                background-image: url("./assets/images/home-page/dominator-title-line-left.svg");
                width: 361px;
                height: 32px;
                top: 13px;
                right: 94.5%;

                @include min-large {
                    width: 319px;
                    height: 29px;
                    top: 9px;
                    right: 91.5%;
                }

                @include min-extra-large {
                    width: 361px;
                    height: 32px;
                    top: 13px;
                    right: 94.5%;
                }
            }

            &:after {
                background-image: url("./assets/images/home-page/dominator-title-line-right.svg");
                width: 386px;
                height: 26px;
                top: 44px;
                left: 94%;

                @include min-large {
                    width: 300px;
                    height: 20px;
                    top: 32px;
                    left: 93%;
                }

                @include min-extra-large {
                    width: 386px;
                    height: 26px;
                    top: 44px;
                    left: 94%;
                }
            }
        }
    }

    .dominators-swiper {
        margin-bottom: 48px;
        padding: 0 20px;

        @include min-small {
            padding: 0 20px;
        }

        @include min-large {
            margin-bottom: 57px;
        }

        @include min-extra-large {
            margin-bottom: 78px;
        }
    }

    .swiper-navigation-wrap {
        position: absolute;
        top: 200px;
        left: 50%;
        max-width: 994px;
        width: 100%;
        @include display-flex;
        @include justify-content-space-between;
        @include transform(translate(-50%,0));
        z-index: 10;
        padding: 0 5px;
        pointer-events: none;

        @include min-medium {
            top: 240px;
            padding: 0;
        }

        @include min-large {
            top: 180px;
            max-width: 750px;
        }

        @include min-extra-large {
            top: 240px;
            max-width: 994px;
        }
    }

    .button-wrap {
        position: relative;

        &:before, &:after {
            content: '';
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            left: 50%;
            @include transform(translateX(-50%));
        }

        &:before {
            top: 20px;
            //right: 86%;
            height: 24px;
            width: 117px;
            margin-left: -200px;
            background-image: url("./assets/images/general/primary-btn-line-left.svg");
            @include transform(translateX(-50%) scale(1,-1));

            @include min-medium {
                top: initial;
                bottom: 100%;
                left: 50%;
                right: initial;
                width: 25px;
                height: 88px;
                margin-left: 0;
                @include transform(translateX(-50%) scale(1,1));
                background-image: url("./assets/images/home-page/dominator-btn-line.svg");
            }

            @include min-large {
                width: 20px;
                height: 70px;
            }

            @include min-extra-large {
                width: 25px;
                height: 88px;
            }
        }

        &:after {
            top: 11px;
            width: 131px;
            height: 24px;
            margin-left: 200px;
            background-image: url("./assets/images/general/primary-btn-line-right.svg");

            @include min-medium {
                display: none;
            }
        }
    }

    .primary-button {
        margin: 0 auto;
    }

    .dominator-item-wrap {
        text-align: center;

        @include max-small {
            padding-bottom: 17px;
        }
    }

    .dominator-info-wrap {
        position: relative;
        padding: 37px 26px 44px 26px;
        @include display-flex;
        @include flex-wrap-wrap;
        margin-bottom: 47px;
        text-align: left;

        @include min-medium {
            padding: 37px 20px 70px 20px;
        }

        @include min-large {
            padding: 32px 45px 50px 47px;
            margin-bottom: 87px;
        }

        @include min-extra-large {
            padding: 46px 55px 100px 55px;
            margin-bottom: 74px;
        }

        .title {
            letter-spacing: 3.2px;
            margin-bottom: 12px;
            color: $primary-text-color;
            flex: 1 0 100%;

            @include max-small {
                font-size: 16px;
                order: 1;
            }

            @include min-large {
                margin-bottom: 26px;
                letter-spacing: 1.6px;
            }

            @include min-extra-large {
                margin-bottom: 39px;
                letter-spacing: 3.6px;
            }
        }

        .name, .rating {
            span {
                display: block;
                color: $primary-text-color;
                margin-bottom: 13px;

                @include min-large {
                    margin-bottom: 7px;
                }

                @include min-extra-large {
                    margin-bottom: 13px;
                }
            }
        }

        .name {
            flex: 1 0 40%;
            letter-spacing: 1px;
            margin-bottom: 15px;

            @include max-small {
                font-size: 16px;
                flex: 1 0 100%;
                order: 3;
                margin-bottom: -2px;
            }

            @include min-large {
                margin-bottom: 28px;
            }

            @include min-extra-large {
                margin-bottom: 38px;
            }

            span {
                @include max-small {
                    display: inline-block;
                }
            }
        }

        .rating {
            flex: 1 0 24%;

            @include max-small {
                font-size: 16px;
                flex: 1 0 100%;
                order: 2;
                margin-bottom: 15px;
            }

            span {
                margin-bottom: 2px;

                @include min-large {
                    margin-bottom: 5px;
                }

                @include min-extra-large {
                    margin-bottom: 16px;
                }
            }

            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                vertical-align: bottom;
            }
        }

        .description {
            flex: 1 0 100%;
            line-height: 1.65;
            padding-right: 45px;

            min-height: 250px;

            @include max-extra-large {
                font-size: 15px;
                padding-right: 10px;
                line-height: 1.45;

                min-height: 180px;
            }

            @include max-large{
                padding-right: 0;

                min-height: 220px;
            }

            @include max-medium {
                min-height: 330px;
            }

            @include max-small {
                order: 4;
                font-size: 14px;

                min-height: 290px;
            }

            span {
                display: block;
                color: $primary-text-color;
                margin-bottom: 2px;

                @include max-small {
                    font-size: 16px;
                }

                @include min-extra-large {
                    margin-bottom: 8px;
                }
            }
        }
    }

    .dominator-item-bg {
        @include full-absolute;
        clip-path: polygon(7% 0, 60% 0, 70% 5%, 94% 5%, 100% 8%, 100% 100%, 0 100%, 0 4%);
        z-index: -1;
        border: 2px solid transparent;
        border-left-width: 1px;
        background: rgb(17,155,255);
        background: radial-gradient(circle, rgba(17,155,255, 0.8) 0%, rgba(0,117,255, 0.4) 100%);

        @include min-large {
            clip-path: polygon(6% 0, 42% 0, 53% 13%, 94% 14%, 100% 22%, 100% 100%, 0 100%, 0 11%);
        }

        @include min-extra-large {
            clip-path: polygon(7% 0, 41% 0, 52% 15%, 94% 15%, 100% 24%, 100% 100%, 0 100%, 0 15%);
        }

        &:before {
            content: '';
            @include full-absolute;

            background: rgb(8 14 28) url("./assets/images/home-page/dominator-bg-lines.png");
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: left bottom;

            clip-path: polygon(7% 0, 60% 0, 70% 5%, 94% 5%, 100% 8%, 100% 100%, 0 100%, 0 4%);

            @include min-large {
                background-size: 75%;
                clip-path: polygon(6% 0, 42% 0, 53% 13%, 94% 14%, 100% 22%, 100% 100%, 0 100%, 0 11%);
            }

            @include min-extra-large {
                clip-path: polygon(7% 0, 41% 0, 52% 15%, 94% 15%, 100% 24%, 100% 100%, 0 100%, 0 15%);
            }
        }

        &:after {
            content: '';
            @include full-absolute;
            background: linear-gradient(45deg, rgba(17,155,255,0) 50%,rgba(17,155,255,0.7) 100%);
            opacity: 0.2;
        }
    }

    .dominator-image-wrap {
        position: absolute;
        bottom: -54px;
        left: -25px;
        right: -25px;

        @include min-large {
            left: -57px;
            right: -64px;
            bottom: -124px;
        }

        @include min-extra-large {
            left: -72px;
            right: -87px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            vertical-align: bottom;
        }
    }

    .dominator-bottom-image-wrap {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            //top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include transform(translateY(-25%));

            background: url("./assets/images/home-page/dominator-light-image.svg") no-repeat;
            background-size: 100% auto;
            background-position: center bottom;
        }

        .dominator-name {
            position: absolute;
            top: 32%;
            left: 50%;
            @include transform(translate(-50%, -50%));

            color: $primary-text-color;
            font-size: 30px;
            @include font_tektur_medium;
            text-transform: uppercase;
            letter-spacing: 3px;

            @include min-large {
                font-size: 38px;
                letter-spacing: 4px;
            }

            @include min-extra-large {
                font-size: 50px;
                letter-spacing: 5px;
            }
        }
    }

    .image-wrap {
        max-width: 93%;
        margin: 0 auto;

        @include min-large {
            max-width: 88%;
        }

        @include min-extra-large {
            max-width: 100%;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            vertical-align: bottom;
        }
    }

    .dominator-bottom-image-line {
        position: absolute;
        @include transform(translateY(-50%));

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            vertical-align: bottom;
        }

        &.left {
            top: 56%;
            right: 87%;

            @include min-large {
                top: 56%;
                right: 85%;
                width: 316px;
            }

            @include min-extra-large {
                top: 56%;
                right: 87%;
            }
        }

        &.right {
            top: 47%;
            left: 86%;

            @include min-large {
                top: 46%;
                left: 88%;
                width: 316px;
            }

            @include min-extra-large {
                top: 47%;
                left: 86%;
            }
        }
    }

    .swiper-3d .swiper-slide-shadow-left,
    .swiper-3d .swiper-slide-shadow-right {
        background-image: none;
    }

    .swiper-slide {
        opacity: 0.5;
    }

    .swiper-slide-active {
        opacity: 1;

        .image-wrap {
            @include animation(linear 0.5s 1 normal forwards running transform);
        }

        .dominator-name {
            @include animation(1s linear 0.5s 1 normal forwards running opacity);
        }

        .dominator-bottom-image-wrap:after {
            top: 0;
            @include animation(1s linear 0.5s 1 normal forwards running text-flicker);
        }
    }

    .swiper-slide-prev,
    .swiper-slide-next {

        .dominator-item-wrap {
            margin-top: 40px;
        }

        .dominator-name {
            font-size: 40px;

            @include min-large {
                font-size: 60px;
            }

            @include min-extra-large {
                font-size: 80px;
            }
        }

        .dominator-info-wrap {
            background: none;
            height: 0;
            margin-bottom: 150px;
        }

        .title, .name, .rating, .description, .dominator-item-bg {
            opacity: 0;
            visibility: hidden;
        }
    }

    .swiper-pagination {
        margin-top: 10px;

        @include min-medium {
            display: none;
        }
    }

    &.element-show {
        .section-title {
            opacity: 1;
        }
    }
}