.video-section {
    padding: 86px 0 43px;

    background: url("./assets/images/home-page/video-section-bg.png") no-repeat;
    background-size: cover;
    background-position: center top;

    @include min-large {
        padding: 154px 0 120px;
    }

    @include min-extra-large {
        padding: 196px 0 183px;
    }

    .video-container {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 70px;
            left: -70px;
            background: $primary-bg-color;
            width: 303px;
            height: 303px;
            opacity: 0.2;
            @include filter(blur(224px));
            @include appearance(none);
            outline: none;
            @include transform(translateY(-50%));
            z-index: 0;

            @include min-medium {
                left: initial;
                right: 0;
                width: 493px;
                height: 585px;
                opacity: 0.15;
                @include filter(blur(224px));
                @include appearance(none);
                outline: none;
            }
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -150px;
            right: 20px;
            background: $secondary-bg-color;
            width: 167px;
            height: 199px;
            opacity: 0.2;
            @include filter(blur(154px));
            @include appearance(none);
            outline: none;
            z-index: -1;

            @include min-medium {
                bottom: -80px;
                left: -10px;
                right: initial;
                width: 315px;
                height: 374px;
                opacity: 0.15;
                @include filter(blur(224px));
                @include appearance(none);
                outline: none;
            }
        }

        .video-element-first {
            position: absolute;
            top: -60px;
            right: -52px;
            max-width: 180px;
            max-height: 155px;
            width: 50%;
            z-index: 4;
            pointer-events: none;

            opacity: 0;
            @include transform(translate3d(100%, 0, 0));

            @include min-large {
                top: -82px;
                right: -118px;
                width: 29%;
                max-width: 439px;
                max-height: 355px;
            }

            @include min-extra-large {
                top: -108px;
                right: -159px;
                width: 32%;
            }

            img {
                width: 100%;
                vertical-align: bottom;
            }
        }

        .video-element-second {
            position: absolute;
            bottom: -52px;
            left: -45px;
            max-width: 232px;
            max-height: 238px;
            width: 37%;
            z-index: 4;
            pointer-events: none;

            opacity: 0;
            @include transform(translate3d(-100%, 0, 0));

            @include min-large {
                bottom: -12px;
                left: -62px;
                width: 15%;
            }

            @include min-extra-large {
                bottom: -17px;
                left: -101px;
                width: 16%;;
            }

            img {
                width: 100%;
                vertical-align: bottom;
            }
        }

    }

    .video-wrap {
        position: relative;
        @include display-flex;
        @include align-items-center;
        @include justify-content-center;
        clip-path: polygon(9% 0, 47% 0, 56% 5%, 100% 5%, 100% 95%, 93% 100%, 0 100%, 0 4%);
        border: 2px solid transparent;
        background: rgb(17,155,255);
        background: radial-gradient(circle, rgba(17,155,255, 0.8) 0%, rgba(0,117,255, 0.4) 100%);
        @include aspect-ratio(320, 416);

        @include min-small {
            @include aspect-ratio(1440, 770);
            clip-path: polygon(6% 0, 50% 0, 56% 10%, 100% 10%, 100% 87%, 94% 100%, 0 100%, 0 12%);
        }

        .video-image {
            width: 100%;
            clip-path: polygon(9% 0, 47% 0, 56% 5%, 100% 5%, 100% 95%, 93% 100%, 0 100%, 0 4%);

            @include full-absolute;
            @include display-flex;
            @include justify-content-center;

            overflow: hidden;

            @include min-small {
                clip-path: polygon(6% 0, 50% 0, 56% 10%, 100% 10%, 100% 87%, 94% 100%, 0 100%, 0 12%);
            }

            img {
                max-height: 100%;
                width: auto;
                height: auto;
                vertical-align: bottom;
                object-fit: cover;
                object-position: center bottom;
            }
        }

        .video-play {
            @include full-absolute;
            @include display-flex;
            @include align-items-center;
            @include justify-content-center;
            z-index: 5;

            .video-btn-play {
                cursor: pointer;
            }

            img {
                @include max-medium {
                    max-width: 122px;
                    max-height: 122px;
                }
            }
        }
    }

    &.element-show {
        .video-element-first {
            opacity: 1;
            @include animation(0.7s linear 1 normal both transform-right);
        }

        .video-element-second {
            opacity: 1;
            @include animation(0.7s linear 1 normal both transform-left);
        }
    }
}

.video-image {
    video {
        width: 100%;
        height: auto;
        @include full-absolute;

        &.mob {
            display: block;
        }

        &.desk {
            display: none;
        }

        @include min-small {
            &.mob {
                display: none;
            }

            &.desk {
                display: block;
            }
        }
    }
}